@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
  font-style: normal;
  color: #777779;
  position: relative;
  font-family: "苹方";
  box-sizing: border-box; }

img {
  vertical-align: middle;
  border: 0; }

html {
  font-size: 100px; }

body {
  font-size: 15px;
  background: #000; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 600px) {
  html {
    font-size: 80px; } }

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px; } }

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px; } }

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px; } }

@media screen and (min-width: 1280px) {
  html {
    font-size: 170.66667px; } }

@media screen and (min-width: 1600px) {
  html {
    font-size: 213.33333px; } }

@media screen and (min-width: 1440px) {
  html {
    font-size: 192px; } }

input {
  background: transparent;
  outline: medium; }

.clear {
  clear: both; }

body {
  background: #fff; }

* {
  font-weight: normal; }

.page3 .header {
  width: 100%;
  height: 1rem;
  background: #2BA6DC; }
  .page3 .header .circle {
  	display:block;
  	z-index:100;
    width: 0.44rem;
    height: 0.44rem;
    border: 0.02rem solid #076CBE;
    border-radius: 50%;
    background: #fff url("../img/book/left.jpg") no-repeat;
    background-size: auto 0.17rem;
    background-position: 0.15rem 0.12rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0.25rem; }
  .page3 .header .title {
    text-align: center; }
    .page3 .header .title h1 {
      font-size: 0.33rem;
      color: #fff;
      line-height: 0.58rem; }
    .page3 .header .title .line {
      width: 0.34rem;
      border-top: 0.01rem solid #fff;
      position: absolute;
      bottom: 0.40rem;
      left: 3.57rem; }
    .page3 .header .title .line:before, .page3 .header .title .line:after {
      content: '';
      display: block;
      width: 0.03rem;
      height: 0.03rem;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      top: -0.01rem; }
    .page3 .header .title .line:before {
      left: 0; }
    .page3 .header .title .line:after {
      right: 0; }
    .page3 .header .title span {
      text-transform: uppercase;
      font-size: 0.13rem;
      color: #A3E3FF; }

.page3 .review {
  width: 6.9rem;
  margin: 0 auto; }
  .page3 .review ul {
    width: 100%;
    margin-top: 0.22rem; }
    .page3 .review ul li {
      width: 100%;
      height: 1.54rem;
      border-radius: 0.1rem;
      box-shadow: 0 0 0.04rem #C4EDFF;
      background: #FDFDFD;
      margin-bottom: 0.22rem;
      padding-top: 0.25rem; }
      .page3 .review ul li .headPortrait {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background: url("../img/book/book39.jpg");
        background-size: 100% 100%;
        float: left;
        margin-left: 0.19rem; }
      .page3 .review ul li p {
        width: 5.32rem;
        height: 0.76rem;
        float: left;
        font-size: 0.2rem;
        color: #737373;
        border-bottom: 0.01rem dashed #A0A0A0;
        margin-left: 0.35rem; }
        .page3 .review ul li p .smiling {
          display: block;
          width: 0.21rem;
          height: 0.21rem;
          position: absolute;
          right: 1.71rem;
          bottom: 0.1rem;
          background: url("../img/book/book23.jpg");
          background-size: 100% 100%; }
      .page3 .review ul li .time, .page3 .review ul li .like {
        width: 1.7rem;
        height: 0.52rem;
        float: left;
        margin-left: 0.28rem; }
        .page3 .review ul li .time .circle, .page3 .review ul li .like .circle {
          width: 0.35rem;
          height: 0.35rem;
          border-radius: 50%;
          background: #fff url("../img/book/book43.jpg");
          background-size: 50% 50%;
          background-repeat: no-repeat;
          background-position: 0.1rem 0.098rem;
          box-shadow: 0 0 0.04rem #C4EDFF;
          margin-top: 0.09rem; }
        .page3 .review ul li .time span, .page3 .review ul li .like span {
          display: block;
          font-size: 0.13rem;
          line-height: 0.13rem;
          position: absolute;
          left: 0.42rem;
          top: 0.19rem; }
      .page3 .review ul li .like {
        float: right;
        margin-right: -0.3rem; }
        .page3 .review ul li .like .circle {
          background: #fff url("../img/book/book50.jpg");
          background-size: 50% 50%;
          background-repeat: no-repeat;
          background-position: 0.1rem 0.098rem; }
    .page3 .review ul li:nth-of-type(2n) .headPortrait {
      background: url("../img/book/book46.jpg");
      background-size: 100% 100%; }

.page3 .bottom {
  width: 100%;
  height: 1.27rem;
  background: #151C2B;
  position: fixed;
  bottom: 0;
  left: 0; }
  .page3 .bottom .release {
    display: block;
    margin: 0.41rem auto;
    width: 1.4rem;
    height: 0.51rem;
    border-radius: 0.25rem;
    background: #F4F4F4;
    color: #5E5E5E;
    font-size: 0.19rem;
    text-align: center;
    line-height: 0.51rem; }
  .page3 .bottom .release:before, .page3 .bottom .release:after {
    content: '';
    display: block;
    width: 0.06rem;
    height: 0.06rem;
    background: #C4C4C4;
    border-radius: 50%;
    position: absolute;
    top: 0.24rem; }
  .page3 .bottom .release:before {
    left: 0.08rem; }
  .page3 .bottom .release:after {
    right: 0.08rem; }
