
	<!--顶部-->
	<div id="my">
	<div id="persontop">
		<ul class="install">
			<li class="left">
				<span>
					<a href="#/myone"></a>
				</span>
			</li>
			<li class="middle">
				<div>个人中心</div>
				<div>
				</div>
				<div>Personal Center</div>
			</li>
			<li class="right">
				<span>
					<a href="#/mythree"></a>
				</span>
			</li>
		</ul>
	</div>
	<div id="personbody">
		<ul class="cir1">
			<li class="per"><a href="#/myfour"></a></li>
			<li class="ziti1">烟雨九华</li>
			<li class="ziti2"><input type="text" value="时间从未走远，在那些始终和时间赛跑的人身上。"/></li>
		</ul>
	</div>
	<div id="personmain">
		<ul class="list">
			<li>
				<a href="#/mysix">
					<span class="dblue"></span>
					<div>
						<h2>版本说明</h2>
					    <p>Release Notes</p>
					</div>
					<div class="lister">
						<h6>V1.0</h6>
					</div>
				</a>
			</li>
			<!--<div wd-l>-->
			
			<li class="addx1"ng-click="add()">
				<a href="">
					<span class="qblue"></span>
				<div>
					<h2>检查更新</h2>
					<p>Check for updates</p>
				</div>
				<div class="lister">
					<h6></h6>
				</div>
				</a>
			</li>
			<!--</div>-->
			<li>
				<a href="">
					<span class="green"></span>
				<div>
					<h2>联系反馈</h2>
					<p>Contact Feedback</p>
				</div>
				</a>
			</li>
			<li class="last">
				<a href="#/myfive">
					<span class="yellow"></span>
					<div>
						<h2>意见反馈</h2>
						<p>Feedback</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div id="footer">
		<ul class="footeran">
			<li>
				<a href="#/bookshelf">
					<div class="icon">&#xe68e;</div>
				<h3>书架</h3>
				</a>
			</li>
			<li>
				<a href="#/select">
					<div class="icon">&#xe616;</div>
				<h3>书城</h3>
				</a>
				
			</li>
			<li class="last">
				<a href="#/my">
					<div class="icon">&#xe615;</div>
				    <h3>我的</h3>
				</a>
				
			</li>
		</ul>
	</div>
	<div id="shade"ng-click="add1()"></div>
	<div id="Sex">
		<ul class='headp'>
			<li class="first">
				<span class="pers">
				</span>
				<h5>版本更新</h5>
				<h6>Version update</h6>
			</li>
			<li class="three">
				 <div class="first">恭喜您</div>
				 <div>Congratulations</div>
				 <div>当前已经是最新版本了</div>
				 <div class="last">
				 </div>
			</li>
		</ul>
	</div>
	</div>

