
	<!--顶部-->
	<div id="myfour">
	<div id="persontopintercalate">
		<ul class="install">
			<li class="left">
				<span>
					<a href="#/my"></a>
				</span>
			</li>
			<li class="middle">
				<div>我的资料</div>
				<div>
				</div>
				<div>My profile</div>
			</li>
		</ul>
	</div>
	<div id="personmain">
		<ul class="list">
			<!--<div wd-l>-->
			<li ng-click="add2()">
				<a href="">
					<span class="dblue"></span>
					<div>
						<h2>我的头像</h2>
					    <p>My head </p>
					</div>
					<div class="lister">
						<h6></h6>
					</div>
				</a>
			</li>
			<!--</div>-->
			<li>
				<a href="">
					<span class="qblue"></span>
					<div>
						<h2>我的账户</h2>
						<p>My account </p>
					</div>
					<div class="lister weq">
						<h6>2012109190</h6>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<span class="green"></span>
					<div>
						<h2>我的昵称</h2>
						<p>My nickname </p>
					</div>
					<div class="lister weq">
						<h6>真实名字</h6>
					</div>
				</a>
			</li>
			<!--<div yj-h>-->
			<li class="last"ng-click="add4()">
				<a href="">
					<span class="yellow"></span>
					<div>
						<h2>我的性别</h2>
						<p>My sex </p>
					</div>
					<div class="lister ">
						<h6></h6>
					</div>
				</a>
			</li>
			<!--</div>-->
		</ul>
	</div>
	<div id="personmain1">
		<ul class="list">
			<li>
				<a href="">
					<span class="qblue"></span>
					<div>
						<h2>已绑定手机</h2>
						<p>Binding mobile phone </p>
					</div>
					<div class="lister weq">
						<h6>2012109190</h6>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<span class="yellow"></span>
					<div>
						<h2>设置密码</h2>
					    <p>Set the password </p>
					</div>
					<div class="lister">
						<h6></h6>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div id="shade"></div>
	<div id="Headportrait">
		<ul class='headp'>
			<li class="first">
				<span class="pers">
				</span>
				<h5>选择您的头像</h5>
				<h6>Choose your avatar</h6>
			</li>
			<li class="second">
				<a href="">
					<span class="qblue"></span>
					<div>
						<h2>从相册中选择</h2>
						<p>Choose from the album</p>
					</div>
				</a>
			</li>
			<li class="three">
				<a href="">
					<span class="yellow"></span>
					<div>
						<h2>拍照</h2>
						<p>Taking pictures</p>
					</div>
				</a>
			</li>
		</ul>
		<div class="Notrue"ng-click="add3()">
			<a href="">取消</a>
		</div>
	</div>
	<div id="Sex">
		<ul class='headp'>
			<li class="first">
				<span class="pers">
				</span>
				<h5>选择您的性别</h5>
				<h6>Select your gender</h6>
			</li>
			<li class="three">
				<span>
					<a href=""></a>
				</span>
				<span class="yellow">
					<a href=""></a>
				</span>
			</li>
		</ul>
		<div class="Notrue"ng-click="add5()">
			<a href="">取消</a>
		</div>
	</div>
	</div>