
	<!--顶部-->
	<div id="myone">
	<div id="persontopintercalate">
		<ul class="install">
			<li class="left">
				<span>
					<a href="#/my"></a>
				</span>
			</li>
			<li class="middle">
				<div>设置</div>
				<div>
				</div>
				<div>Settings</div>
			</li>
			<li class="right">
				<span>
					<a href="#/mythree"></a>
				</span>
			</li>
		</ul>
	</div>
	<div id="personmain">
		<ul class="list">
			<!--<div wd-l>-->
			<li ng-click="add6()">
				<a href="">
					<span class="dblue"></span>
					<div>
						<h2>阅读休息提醒</h2>
					    <p>Read the rest reminders</p>
					</div>
					<div class="lister">
						<h6>关闭</h6>
					</div>
				</a>
			</li>
			<!--</div>-->
			<li>
				<a href="#/mytwo">
					<span class="qblue"></span>
					<div>
						<h2>推荐偏好</h2>
						<p>Recommended Preferences</p>
					</div>
					<div class="lister">
						<h6></h6>
					</div>
				</a>
			</li>
			<li>
				<span class="green"></span>
				<div>
					<h2>启动后继续上次阅读</h2>
					<p>Continue reading after startup</p>
				</div>
				<div class="lister" id="xixw"style="z-index: 99;"ng-click="add100()">
					<span class="cirty">
						<span class="cir">
							<span class="smallcir"></span>
						</span>
					</span>
				</div>
			</li>
			<!--<div yj-h>-->
			<li class="last"ng-click="add12()">
				<a href="">
					<span class="yellow"></span>
					<div>
						<h2>清除缓存</h2>
						<p>clear cache</p>
					</div>
					<div class="lister">
						<h6></h6>
					</div>
				</a>
			</li>
			<!--</div>-->
		</ul>
	</div>
	<div id="quit">
		<div class="quitcon">
			<span class="left"></span>
			<a href="">退出登录</a>
			<span class="right"></span>
		</div>
	</div>
	<div id="shade"></div>
	<div id="Headportrait">
		<ul class='headp'>
			<li class="first">
				<span class="pers">
				</span>
				<h5>阅读休息提醒设置</h5>
				<h6>Read the rest reminder settings</h6>
			</li>
			<li class="second">
				<div class="leftd">
					<h2>关闭阅读提醒</h2>
					<p>Close reading reminder</p>
				</div>
				<div class="rightd">
					<span>
						<div class="cir"></div>
					</span>
				</div>
			</li>
			<li class="second">
				<div class="leftd">
					<h2>阅读15分钟后</h2>
					<p>Read 15 minutes later</p>
				</div>
				<div class="rightd">
					<span>
						<div class="cir"></div>
					</span>
				</div>
			</li>
			<li class="second">
				<div class="leftd">
					<h2>阅读30分钟后</h2>
					<p>Read 30 minutes later</p>
				</div>
				<div class="rightd">
					<span>
						<div class="cir"></div>
					</span>
				</div>
			</li>
			<li class="second dx">
				<div class="leftd">
					<h2>阅读60分钟后</h2>
					<p>Read 60 minutes later</p>
				</div>
				<div class="rightd">
					<span>
						<div class="cir"></div>
					</span>
				</div>
			</li>
			<li class="three">
				<span class="left"ng-click="add7()">
					<div class="cirl"></div>
					<a class="greenzi"href="">取消</a>
					<div class="cirr"></div>
				</span>
				<span class="right"ng-click="add8()">
					<div class="cirl"></div>
					<a href="">确定</a>
					<div class="cirr"></div>
				</span>
			</li>
		</ul>
	</div>
	<div id="Sex">
		<ul class='headp'>
			<li class="first">
				<div class="leftd">
					<span class="pers">
					</span>
					<h5>清除缓存</h5>
					<h6>clear cache</h6>
				</div>
				
				<div class="rightd">
					<span class="xz">全选</span>
					<span>
						<div class="cir"></div>
					</span>
				</div>
			</li>
			<li class="second">
				<div class="leftd">
					<h2>历史记录</h2>
					<p>history record</p>
				</div>
				<div class="rightd">
					<span>
						<div class="cir"></div>
					</span>
				</div>
			</li>
			<li class="second">
				<div class="leftd">
					<h2>阅读进度</h2>
					<p>Read the progress</p>
				</div>
				<div class="rightd">
					<span>
						<div class="cir"></div>
					</span>
				</div>
			</li>
			<li class="second">
				<div class="leftd">
					<h2>书签记录</h2>
					<p>Bookmarks</p>
				</div>
				<div class="rightd">
					<span>
						<div class="cir"></div>
					</span>
				</div>
			</li>
			<li class="second dx">
				<div class="leftd">
					<h2>笔记记录</h2>
					<p>Notes recording</p>
				</div>
				<div class="rightd">
					<span>
						<div class="cir"></div>
					</span>
				</div>
			</li>
			<li class="three">
				<span class="left"ng-click="add13()">
					<div class="cirl"></div>
					<a class="greenzi"href="">取消</a>
					<div class="cirr"></div>
				</span>
				<span class="right"ng-click="add14()">
					<div class="cirl"></div>
					<a href="">确定</a>
					<div class="cirr"></div>
				</span>
			</li>
		</ul>
	</div>
	</div>
