
	<!--顶部-->
	<div id="mythree">
	<div id="persontopintercalate">
		<ul class="install">
			<li class="left">
				<span>
					<a href="#/my"></a>
				</span>
			</li>
			<li class="middle">
				<div>我的信息</div>
				<div>
				</div>
				<div>Settings</div>
			</li>
		</ul>
	</div>
	<div id="personxxk">
		<!--<div wd-l>-->
		<ul class="xxkz">
			<li class="left bg"style="z-index: 99;"ng-click="add10()">
				<span class="cirz">
					<span class="cirl1"></span>
					<span class="cirl2"></span>
					系统信息
					<span class="cirr1"></span>
					<span class="cirr2"></span>
				</span>
				<span class="Ewenzi">System information</span>
			</li>
			<li class="middle">
			</li>
			<li class="right "ng-click="add11()">
				<span class="cirz">
					<span class="cirl1"></span>
					<span class="cirl2"></span>
					我的信息
					<span class="cirr1"></span>
					<span class="cirr2"></span>
				</span>
				<span class="Ewenzi">My information</span>
			</li>
		</ul>
		<!--</div>-->
	</div>
	<div id="personmainl">
		<ul class="list">
			<li>
				<a href="">
					<span class="dblue"></span>
					<div>
						<h2>推荐新书</h2>
					    <p>Recommend a book </p>
					</div>
					<div class="lister">
						<h6></h6>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<span class="qblue"></span>
					<div>
						<h2>推荐新书</h2>
						<p>Recommend a book </p>
					</div>
					<div class="lister">
						<h6></h6>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<span class="green"></span>
					<div>
						<h2>推荐新书</h2>
						<p>Recommend a book </p>
					</div>
					<div class="lister">
						<h6></h6>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<span class="yellow"></span>
				<div>
					<h2>推荐新书</h2>
					<p>Recommend a book </p>
				</div>
				<div class="lister">
					<h6></h6>
				</div>
				</a>
			</li>
		</ul>
	</div>
	<div id="personmainr">
		<ul class="list">
			<li>
				<span class="dblue"></span>
				<div>
					<h2>奔跑的胡萝卜</h2>
					<p>Run the carrots</p>
					<p>奥黛丽赫本散落人间的天使以前只是从网络上报纸上看到她片面迹...</p>
				</div>
				<div class="lister">
					<h6>2016-09-10</h6>
				</div>
			</li>
			<li>
				<span class="qblue"></span>
				<div>
					<h2>奔跑的胡萝卜</h2>
					<p>Run the carrots</p>
					<p>奥黛丽赫本散落人间的天使以前只是从网络上报纸上看到她片面迹...</p>
				</div>
				<div class="lister">
					<h6>2016-09-10</h6>
				</div>
			</li>
			<li>
				<span class="green"></span>
				<div>
					<h2>奔跑的胡萝卜</h2>
					<p>Run the carrots</p>
					<p>奥黛丽赫本散落人间的天使以前只是从网络上报纸上看到她片面迹...</p>
				</div>
				<div class="lister">
					<h6>2016-09-10</h6>
				</div>
			</li>
			<li class="last">
				<span class="yellow"></span>
				<div>
					<h2>奔跑的胡萝卜</h2>
					<p>Run the carrots</p>
					<p>奥黛丽赫本散落人间的天使以前只是从网络上报纸上看到她片面迹...</p>
				</div>
				<div class="lister">
					<h6>2016-09-10</h6>
				</div>
			</li>
		</ul>
	</div>
	</div>
