@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
  font-style: normal;
  color: #777779;
  position: relative;
  font-family: "微软雅黑";
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 100px;
}

body {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 170.66667px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 192px;
  }
}

input {
  background: transparent;
  outline: medium;
}

.clear {
  clear: both;
}

.colone {
  background: #FCF3DB;
}

.coltwo {
  background: #FFE9B0;
}

.colthree {
  background: #D8A764;
}

.colfour {
  background: #3876AC;
}

.colfive {
  background: #21858E;
}

.colsix {
  background: #F4C5D4;
}

.colseven {
  background: #79d143;
}

#box .con {
  overflow: hidden;
}

#box .con .book-title {
  display: none;
  height: 0.4rem;
}

#box .con .book-title .short {
  height: 1px;
  width: 0.25rem;
  position: absolute;
  bottom: 0.1rem;
  left: 0.25rem;
  background: #292722;
}

#box .con .book-title .long {
  height: 1px;
  width: 5.4rem;
  position: absolute;
  bottom: 0.1rem;
  right: 0.55rem;
  background: #292722;
}

#box .con .book-title span {
  font-size: 0.17rem;
  color: #292722;
  position: absolute;
  bottom: 0;
  left: 0.55rem;
}

#box .con .book-title-t {
  display: none;
  height: 1.1rem;
  background: #29a6dc;
}

#box .con .book-title-t .b-con {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0.25rem;
  right: 0.25rem;
  margin: auto;
}

#box .con .book-title-t .b-con .b-l {
  width: 2rem;
  height: 100%;
  float: left;
}

#box .con .book-title-t .b-con .b-l a {
  display: block;
  width: 0.43rem;
  height: 0.43rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  background: #fafafa url(../img/readPages/return.png) center no-repeat;
  background-size: 0.22rem 0.22rem;
  border: 1px solid #076cbe;
  border-radius: 50%;
  box-sizing: border-box;
}

#box .con .book-title-t .b-con .b-r {
  width: 4rem;
  height: 100%;
  float: right;
}

#box .con .book-title-t .b-con .b-r .one {
  width: 0.43rem;
  height: 0.43rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  background: #fafafa url(../img/readPages/download.png) center no-repeat;
  background-size: 0.22rem 0.22rem;
  border: 1px solid #076cbe;
  border-radius: 50%;
  box-sizing: border-box;
}

#box .con .book-title-t .b-con .b-r .two {
  width: 0.43rem;
  height: 0.43rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.66rem;
  background: url(../img/readPages/bookmark.png) center no-repeat;
  background-size: 0.39rem 0.39rem;
}

#box .con .night {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  position: fixed;
  left: 0.24rem;
  bottom: 3.3rem;
  z-index: 10;
  display: none;
  background: url(../img/readPages/night.png) no-repeat;
  background-size: 0.6rem 0.6rem;
}

#box .con .bookmark {
  position: fixed;
  top: 40%;
  right: -0.95rem;
  width: 1.9rem;
  height: 0.77rem;
  border-radius: 0.34rem;
  background: #fff url(../img/readPages/bookmark2.png) 0.24rem center no-repeat;
  background-size: 0.4rem 0.4rem;
  z-index: 10;
  display: none;
}

#box .con .cor-footer {
  display: none;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0rem;
  left: 0;
  z-index: 2;
}

#box .con .cor-footer .foot1 {
  width: 100%;
  height: 2.25rem;
  padding: 0.2rem 0.24rem;
  background: #151c2b;
  display: none;
}

#box .con .cor-footer .foot1 .progress {
  height: 0.8rem;
}

#box .con .cor-footer .foot1 .progress .last, #box .con .cor-footer .foot1 .progress .next {
  font-size: 0.24rem;
  color: #c6c6c6;
  line-height: 0.8rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#box .con .cor-footer .foot1 .progress .last {
  left: 0.19rem;
}

#box .con .cor-footer .foot1 .progress .next {
  right: 0.19rem;
}

#box .con .cor-footer .foot1 .progress .pick {
  width: 4.7rem;
  height: 0.12rem;
  border-radius: 0.06rem;
  background: #d5d5d5;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#box .con .cor-footer .foot1 .progress .pick .rel {
  width: 2rem;
  height: 100%;
  background: #37d72a;
  border-radius: 0.06rem;
  position: absolute;
  top: 0;
  left: 0;
}

#box .con .cor-footer .foot1 .progress .pick .circle-lg {
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 50%;
  border: 0.06rem solid #595f68;
  background: #ffd235;
  position: absolute;
  top: -0.06rem;
  left: 1.88rem;
}

#box .con .cor-footer .foot1 .navs {
  height: 1.05rem;
}

#box .con .cor-footer .foot1 .navs .nav {
  width: 0.6rem;
  height: 100%;
}

#box .con .cor-footer .foot1 .navs .nav a {
  display: block;
  width: 100%;
  height: 100%;
}

#box .con .cor-footer .foot1 .navs .nav div {
  width: 0.57rem;
  height: 0.57rem;
  margin: 0.14rem auto 0.09rem;
  border-radius: 50%;
}

#box .con .cor-footer .foot1 .navs .nav:nth-of-type(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.84rem;
}

#box .con .cor-footer .foot1 .navs .nav:nth-of-type(1) div {
  background: #29a6dc url(../img/readPages/catalog.png) center no-repeat;
  background-size: 0.42rem 0.42rem;
}

#box .con .cor-footer .foot1 .navs .nav:nth-of-type(2) {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#box .con .cor-footer .foot1 .navs .nav:nth-of-type(2) div {
  background: #29a6dc url(../img/readPages/setUp.png) center no-repeat;
  background-size: 0.42rem 0.42rem;
}

#box .con .cor-footer .foot1 .navs .nav:nth-of-type(3) {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.84rem;
}

#box .con .cor-footer .foot1 .navs .nav:nth-of-type(3) div {
  background: #29a6dc url(../img/readPages/brightness.png) center no-repeat;
  background-size: 0.42rem 0.42rem;
}

#box .con .cor-footer .foot1 .navs span {
  display: block;
  font-size: 0.22rem;
  line-height: 0.22rem;
  margin: 0 auto;
  text-align: center;
  color: #d2d2d2;
}

#box .con .cor-footer .foot2 {
  width: 100%;
  height: 2.8rem;
  padding: 0.1rem 0.24rem 0.4rem;
  background: #151c2b;
  display: none;
}

#box .con .cor-footer .foot2 .foot2-ul {
  height: 2.3rem;
}

#box .con .cor-footer .foot2 .foot2-ul .li {
  height: 0.6rem;
}

#box .con .cor-footer .foot2 .foot2-ul .li .written {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.24rem;
  font-size: 0.24rem;
  color: #f0f0f0;
  line-height: 0.6rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back {
  height: 1.1rem;
}

#box .con .cor-footer .foot2 .foot2-ul .li-progress .log {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 1rem;
  background: url(../img/readPages/kern.png) center no-repeat;
  background-size: 0.4rem 0.4rem;
}

#box .con .cor-footer .foot2 .foot2-ul .li-progress .num {
  width: 0.4rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.45rem;
  line-height: 0.6rem;
  text-align: right;
  color: #f2f2f2;
  font-size: 0.24rem;
}

#box .con .cor-footer .foot2 .foot2-ul .li-progress .progress {
  width: 4.7rem;
  height: 0.06rem;
  border-radius: 0.1rem;
  background: #d5d5d5;
  position: absolute;
  bottom: 50%;
  left: 1.5rem;
}

#box .con .cor-footer .foot2 .foot2-ul .li-progress .progress .rel {
  width: 2rem;
  height: 100%;
  background: #37d72a;
  border-radius: 0.06rem;
  position: absolute;
  top: 0;
  left: 0;
}

#box .con .cor-footer .foot2 .foot2-ul .li-progress .progress .circle-lg {
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  border: 0.05rem solid #595f68;
  background: #ffd235;
  position: absolute;
  top: -0.07rem;
  left: 1.9rem;
}

#box .con .cor-footer .foot2 .foot2-ul .size .log {
  background: url(../img/readPages/size.png) center no-repeat;
  background-size: 0.35rem 0.35rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 1rem;
  right: 0.38rem;
  margin: auto;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color {
  width: 0.6rem;
  height: 1.1rem;
  margin-top: 0.18rem;
  float: left;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color .name {
  width: 0.6rem;
  font-size: 0.14rem;
  color: #cccccc;
  text-align: center;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color .squ {
  border: 0.04rem solid transparent;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .border .squ {
  border-color: #41e441;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(1) {
  margin-left: 0;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(1) .squ {
  width: 0.6rem;
  height: 0.6rem;
  background: #fcf3db;
  text-align: center;
  line-height: 0.55rem;
  color: #313131;
  font-size: 0.18rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(2) {
  margin-left: 0.1rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(2) .squ {
  width: 0.6rem;
  height: 0.6rem;
  background: #ffe9b0;
  text-align: center;
  line-height: 0.55rem;
  color: #313131;
  font-size: 0.18rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(3) {
  margin-left: 0.1rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(3) .squ {
  width: 0.6rem;
  height: 0.6rem;
  background: #d8a764;
  text-align: center;
  line-height: 0.55rem;
  color: #313131;
  font-size: 0.18rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(4) {
  margin-left: 0.1rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(4) .squ {
  width: 0.6rem;
  height: 0.6rem;
  background: #3876ac;
  text-align: center;
  line-height: 0.55rem;
  color: #313131;
  font-size: 0.18rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(5) {
  margin-left: 0.1rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(5) .squ {
  width: 0.6rem;
  height: 0.6rem;
  background: #21858e;
  text-align: center;
  line-height: 0.55rem;
  color: #313131;
  font-size: 0.18rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(6) {
  margin-left: 0.1rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(6) .squ {
  width: 0.6rem;
  height: 0.6rem;
  background: #f4c5d4;
  text-align: center;
  line-height: 0.55rem;
  color: #313131;
  font-size: 0.18rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(7) {
  margin-left: 0.1rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(7) .squ {
  width: 0.6rem;
  height: 0.6rem;
  background: #79d143;
  text-align: center;
  line-height: 0.55rem;
  color: #313131;
  font-size: 0.18rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(8) {
  margin-left: 0.1rem;
}

#box .con .cor-footer .foot2 .foot2-ul .back ul .color:nth-of-type(8) .squ {
  width: 0.6rem;
  height: 0.6rem;
  background: #ffffff;
  text-align: center;
  line-height: 0.55rem;
  color: #313131;
  font-size: 0.18rem;
}

#box .con .cor-footer .foot3 {
  height: 1.88rem;
  padding: 0.24rem 0.2rem;
  background: #151c2b;
  display: none;
}

#box .con .cor-footer .foot3 ul .pro {
  height: 0.68rem;
}

#box .con .cor-footer .foot3 ul .pro .An {
  font-size: 0.24rem;
  color: #F2F2F2;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.18rem;
  line-height: 0.68rem;
}

#box .con .cor-footer .foot3 ul .pro .liang {
  font-size: 0.24rem;
  color: #F2F2F2;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 1.18rem;
  line-height: 0.68rem;
}

#box .con .cor-footer .foot3 ul .pro .pick {
  width: 4.7rem;
  height: 0.06rem;
  border-radius: 0.06rem;
  background: #d5d5d5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.62rem;
}

#box .con .cor-footer .foot3 ul .pro .pick .rel {
  width: 2rem;
  height: 100%;
  background: #37d72a;
  border-radius: 0.06rem;
  position: absolute;
  top: 0;
  left: 0;
}

#box .con .cor-footer .foot3 ul .pro .pick .circle-lg {
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  border: 0.05rem solid #595f68;
  background: #ffd235;
  position: absolute;
  top: -0.07rem;
  left: 1.9rem;
}

#box .con .cor-footer .foot3 ul .pro .squ {
  width: 0.72rem;
  height: 0.32rem;
  border-radius: 0.05rem;
  border: 2px solid #c0c0c0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.24rem;
  font-size: 0.16rem;
  color: #F2F2F2;
  line-height: 0.28rem;
  text-align: center;
}

#box .con .cor-footer .foot3 ul .pattern {
  height: 0.8rem;
}

#box .con .cor-footer .foot3 ul .pattern .pat {
  width: 1.24rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.24rem;
  color: #999999;
  font-size: 0.22rem;
  line-height: 0.8rem;
  text-align: right;
}

#box .con .cor-footer .foot3 ul .pattern .pat:before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 0.2rem;
  height: 0.2rem;
  border: 0.05rem solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  background: #7d7d7d;
}

#box .con .cor-footer .foot3 ul .pattern .ness {
  width: 1.24rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.24rem;
  color: #e0e0e0;
  font-size: 0.22rem;
  line-height: 0.8rem;
  text-align: right;
}

#box .con .cor-footer .foot3 ul .pattern .ness:before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 0.2rem;
  height: 0.2rem;
  border: 0.05rem solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  background: #ffd235;
}

#box .con .cor-footer .show {
  display: block;
}

#box .con .show {
  display: block;
}

#box .con .text {
  padding: 0 0.25rem 0;
}

#box .con .text h2 {
  font-size: 0.3rem;
  padding: 0.25rem 0.12rem;
}

#box .con .text .texts {
  height: 11rem;
  box-sizing: border-box;
  overflow: hidden;
}

#box .con .text .texts p {
  padding: 0.2rem 0.25rem;
  font-size: 0.25rem;
  color: #292722;
  height: auto;
  text-indent: 2em;
  line-height: 0.3rem;
}

#box .con .corner {
  width: 100%;
  height: 0.35rem;
  padding: 0.55rem 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  box-sizing: inherit;
}

#box .con .corner .cor-left {
  height: 0.35rem;
  position: absolute;
  bottom: 0.25rem;
  left: 0.3rem;
  font-size: 0.23rem;
}

#box .con .corner .cor-right {
  height: 0.35rem;
  position: absolute;
  bottom: 0.25rem;
  right: 0.3rem;
  font-size: 0.23rem;
}

#box .con .colone {
  background: #FCF3DB;
}

#box .con .coltwo {
  background: #FFE9B0;
}

#box .con .colthree {
  background: #D8A764;
}

#box .con .colfour {
  background: #3876AC;
}

#box .con .colfive {
  background: #21858E;
}

#box .con .colsix {
  background: #F4C5D4;
}

#box .con .colseven {
  background: #79D143;
}
