@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  position: static; }

ul, li, b, i {
  list-style: none; }

a {
  text-decoration: none; }

html {
  font-size: 100px; }

body {
  font-size: 16px; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px; } }

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px; } }

:root {
  background: #F2F2F2; }

/*导航*/
.kk {
  /*foot*/
  /*main*/ }
  .kk .head {
    width: 100%;
    height: 1.08rem;
    background: #29A6DC; }
  .kk .header-f {
    width: 100%;
    height: 1.08rem;
    background: #29A6DC;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; }
  .kk .h-add {
    width: 100%;
    height: 1.08rem;
    background: #29A6DC;
    position: relative; }
  .kk .header {
    width: 5.72rem;
    height: 0.84rem;
    background: url("../img/title2.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .kk .found {
    width: 0.44rem;
    height: 0.44rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../img/found.png") no-repeat;
    background-size: cover;
    margin-right: 0.24rem; }
  .kk .h-chose {
    display: block;
    width: 1.90667rem;
    height: 100%;
    float: left;
    background: url("../img/1.png") no-repeat center;
    background-size: 1.65rem 0.71rem; }
  .kk .h-chose:nth-child(1) {
    opacity: 0; }
  .kk .h-chose:nth-child(2) {
    background: url("../img/2.png") no-repeat center;
    background-size: 1.65rem 0.71rem; }
  .kk .h-chose:nth-child(3) {
    background: url("../img/3.png") no-repeat center;
    background-size: 1.65rem 0.71rem;
    opacity: 0; }
  .kk .foot {
    width: 100%;
    height: 1rem;
    background: url("../img/123_02.png") no-repeat;
    background-size: cover;
    position: fixed;
    bottom: 0;
    left: 0; }
    .kk .foot .foot-list {
      display: block;
      width: 33.33%;
      height: 100%;
      float: left; }
    .kk .foot .foot-list:nth-child(2) {
      background: url("../img/2_02.png") no-repeat;
      background-size: cover; }
  .kk .main {
    width: 100%; }
    .kk .main .list-1 {
      display: block;
      width: 100%;
      height: 2.6rem;
      background: url("../img/l1.png") no-repeat;
      background-size: cover;
      margin-bottom: 0.16rem; }
    .kk .main .list-2 {
      display: block;
      width: 100%;
      height: 2.6rem;
      background: url("../img/l2.png") no-repeat;
      background-size: cover;
      margin-bottom: 0.16rem; }
    .kk .main .list-3 {
      display: block;
      width: 100%;
      height: 2.6rem;
      background: url("../img/l3.png") no-repeat;
      background-size: cover;
      margin-bottom: 0.16rem; }
    .kk .main .list-4 {
      display: block;
      width: 100%;
      height: 2.6rem;
      background: url("../img/l4.png") no-repeat;
      background-size: cover;
      margin-bottom: 0.16rem; }
