@import "../base/base.scss";
@font-face {
  font-family: 'iconfont';  /* project id："162086" */
  src: url('https://at.alicdn.com/t/font_3fx2ffh698iu23xr.eot');
  src: url('https://at.alicdn.com/t/font_3fx2ffh698iu23xr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_3fx2ffh698iu23xr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_3fx2ffh698iu23xr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_3fx2ffh698iu23xr.svg#iconfont') format('svg');
}
$img:"../../img/my/";
/*顶部*/
#my{ 
a{
    display: inline-block;
    width: 100%;
    height: 100%; 
    @include center;
    z-index: 100;
    color: #FAFAFA;
}
    #persontop{
    width: 100%;
    height: 1.08rem;
    background: #2BA6DC;
    .install{
        width: 100%;
        height: 1.08rem;
    }
    .install li{
        line-height: 1.08rem;
    }
    .install .left{
        @include top-bottom;
        left: 0.24rem;
        span{
            display: inline-block;
            width: 0.44rem;
            height: 0.44rem;
            border: 3px solid #0F74B5;
            border-radius: 50%; 
            background: #FAFAFA url($img+"9.png")no-repeat;
            background-size: 70%;
            background-position: center;
            margin-top: 0.32rem;
        }
    }
    .install .middle{
        @include center;
        div:nth-of-type(1){
            line-height: 1rem;
            text-align: center;
            height: 50%;
            font-size: 0.35rem;
            color: #FAFAFA;
        }
        div:nth-of-type(2){
            line-height: 0.2rem;
            text-align: center;
            height: 25%;
            font-size: 0.35rem;
            color: #FAFAFA;
            background:url($img+"1.png")no-repeat;
            background-position: center 52%;
        }
        div:nth-of-type(3){
            line-height: 0rem;
            text-align: center;
            height: 25%;
            font-size: 0.14rem;
            color: #90DCFF;
        }
    }
    .install .right{
        @include top-bottom;
        right: 0.24rem;
        span{
            display: inline-block;
            width: 0.44rem;
            height: 0.44rem;
            border: 3px solid #0F74B5;
            border-radius: 50%;
            background: #FAFAFA url($img+"10.png")no-repeat;
            background-size: 70%;
            background-position: center;
            margin-top: 0.32rem;
        }
    }
}
#personbody{
    width: 100%;
    height: 11.22rem;
    background: #FAFAFA;
    .cir1{
        width: 100%;
        @include left-right;
        top: 0.85rem;
        background: gray;
        height: auto;
        .per{
            width: 1.85rem;
            height: 1.85rem;
            border: 10px solid #EDEDED;
            border-radius: 50%;
            overflow: hidden;
            @include left-right;
            top: 0;
            background:url($img+"2.png")no-repeat;
            background-size: 150%;
            background-position: right;
        }
        .ziti1{
            @include left-right;
            top: 2.37rem;
            font-size: 0.3rem;
            text-align: center;
            color: #3D3D3D;
        }
        .ziti2{ 
            font-size: 0.2rem;
            @include left-right;
            top: 2.83rem;
            text-align: center;
            color: #3D3D3D;
            background: #FAFAFA url($img+"3.png")no-repeat;
            background-size: 3%;
            background-position: 85% center;
            input{
                background: transparent;
                outline: medium;
                width: 75%;
                height: 100%;
            }
        }
    }
}
#personmain{
    widows: 100%;
    height: auto;
    @include left-right;
    top: 5.27rem;
    .list{
         @include left-right;
         top: 0;
        width: 7.02rem;
        height: 3.58rem;
        box-shadow: 0 0 0 5px rgba(236,236,236,0.2);
        border-radius: 0.02rem;
        li{
            height: 0.87rem;
            border-bottom: 1px dotted #B8B8B8 ;
            line-height: 0.87rem;
            font-size: 0.11rem;
            div{
                display: inline-block;
            }
            .lister{
                display: inline-block;
                float: right;
                margin-right: 0.31rem;
                background:url($img+"7.png")no-repeat;
                background-position: right;
                h6{
                    display: inline-block;
                    margin-right: 0.3rem;
                    color: #3D3D3D;
                }
            }
            h2{
                line-height: 0.7rem;
                height: 50%;
                color: #363636;
                font-size: 0.16rem;
            }
            p{
                height: 50%;
                line-height: 0.01rem;
                color: #666666;
            }
            span{
                margin: {
                    left: 0.165rem;
                    right:0.165rem;
                    top: 0.27rem;
                };
                float: left;
                display: inline-block;
                width: 0.33rem;
                height: 0.33rem;
                background: #3D63FD url($img+"4.png")no-repeat;
                background-size: 70%;
                background-position: center;
                border-radius: 50%;
                text-align: center;
                line-height: 0.33rem;
            }
            .qblue{
                background: #3DBFFD url($img+"5.png")no-repeat;
                background-size: 70%;
                background-position: center;
            }
            .green{
                background: #2FE7CB url($img+"6.png")no-repeat;
                background-size: 70%;
                background-position: center;
            }
            .yellow{
                background: #FDCD3D url($img+"8.png")no-repeat;
                background-size: 70%;
                background-position: center;
            }
        }
        .last{
            border: 0;
        }
    }
} 
#footer{
    background: #141C2D;
    width: 100%;
    height: 1rem;
    .footeran{ 
        width: 100%;
        height: 1rem;
        li{
            float: left;
            width: 33.333%;
            height: 100%;
            border-right: 1px solid #6F6F6F;
            .icon{
                margin-top: 0.10rem;
                width: 100%;
                height: 50%;
                text-align: center;
                font-family: 'iconfont';
                font-size: 0.46rem;
                color: #777779;
            }
            h3{
                font-weight: normal;
//              margin-top: 0.10rem;
                text-align: center;
                color: #777779;
            }
        }
        .last .icon{
            color: #FAFAFA;
        }
        .last h3{
            color: #FAFAFA;
        }
    }
}
#shade{
    display: none;      
    width: 100%;
    height: 100%;
    z-index: 101;
    background: rgba(0,0,0,0.5);
    @include left-right;
    top: 0;
}
#Sex{
    display: none;
    @include center;
    width: 4.78rem;
    height: 2.95rem;
    background: #FFFFFF;
    z-index: 102;
    border-radius: 0.2rem;
    .headp{
        @include left-right;
        top: 0;
        width: 100%;
        height: 100%;
        .first{
            height: 0.72rem;
            background:url($img+"25.png")no-repeat;
            background-position: center bottom;
            background-size: 100%;
            border-radius: 0.2rem 0.2rem 0 0;
            .pers{
                position: absolute;
                top: 0.18rem;
                left: 0.54rem;
                width: 0.36rem;
                height: 0.36rem;
                border-radius: 50%;
                background:#FFFFFF url($img+"34.png")no-repeat;
                background-position: center;
                background-size: 60%;
                text-align: center;
                line-height: 0.36rem;
            }
            h5{
                position: absolute;
                top: 0.18rem;
                left: 1.04rem;
                font-size: 0.2rem;
                color: #FAFAFA;
                font-weight: normal;
            }
            h6{
                position: absolute;
                top: 0.4rem;
                left: 1.04rem;
                font-size: 0.11rem;
                color: #D1FEF6;
                font-weight: normal;
            }
        }
        .three{
            width: 100%;
            height: 1.8rem;
            text-align: center;
            div{
                margin: {
                    top: 0.018rem;
                };
            }
            .first{
                background: #FFFFFF;
                height: auto;
                margin: {
                    top: 0.39rem;
                };
            }
            .last{
                height: 0.2rem;
                background:#FFFFFF url($img+"33.png")no-repeat;
                background-position: center;
            }
        }
    }
}
}


