@import "../base/base.scss";
body,html{
    width: 100%;
    height: 100%;
    position: relative;
}
$img:"../../img/my/";
/*顶部*/
#myfive{
    

a{ 
    display: inline-block;
    width: 100%;
    height: 100%; 
    @include center;
    z-index: 100;
    color: #FAFAFA;
}
#persontopintercalate{
    width: 100%;
    height: 1.08rem; 
    background: #2BA6DC;
    .install{
        width: 100%;
        height: 1.08rem;
    }
    .install li{
        line-height: 1.08rem;
    }
    .install .left{
        @include top-bottom;
        left: 0.24rem;
        span{
            display: inline-block;
            width: 0.44rem;
            height: 0.44rem;
            border: 3px solid #0F74B5;
            border-radius: 50%;
            background: #FAFAFA url($img+"11.png")no-repeat;
            background-size: 30%;
            background-position: center;
            margin-top: 0.32rem;
            img{
                width: 30%;
                @include center;
            }
        }
    }
    .install .middle{
        @include center;
        div:nth-of-type(1){
            line-height: 0.9rem;
            text-align: center;
            height: 50%;
            font-size: 0.35rem;
            color: #FAFAFA;
        }
        div:nth-of-type(2){
            line-height: 0.2rem;
            text-align: center;
            height: 25%;
            font-size: 0.35rem;
            color: #FAFAFA;
            background:url($img+"1.png")no-repeat;
            background-position: center 52%;
        }
        div:nth-of-type(3){
            line-height: 0rem;
            text-align: center;
            height: 25%;
            font-size: 0.14rem;
            color: #90DCFF;
        }
    }
}
#personmain{
    widows: 100%;
    height: auto;
    @include left-right;
    top: 1.29rem;
    .list{
        @include left-right;
        top: 0;
        width: 7.02rem;
        height: 3.58rem;
        box-shadow: 0 0 0 5px rgba(236,236,236,0.2);
        border-radius: 0.02rem;
        li{
            height: 20%;
             h2{
                line-height: 0.5rem;
                height: 50%;
                color: #363636;
                font-size: 0.16rem;
            }
            p{
                height: 50%;
                line-height: 0.02rem;
                color: #666666;
                font-size: 0.13rem;
            }
            span{
                margin: {
                    left: 0.165rem;
                    right:0.165rem;
                    top: 0.27rem;
                };
                float: left;
                display: inline-block;
                width: 0.34rem;
                height: 0.34rem;
                text-align: center;
                line-height: 0.2rem;
                background:url($img+"32.png")no-repeat;
                background-position: center;
                background-size: 80%;
            }
        }
        textarea{
            background: transparent;
            outline: medium;
            width: 100%;
            height: 80%;
        }
    }
}
#quit{
    width: 100%;
    height: 0.7rem;
    @include left-right;
    top: 5.6rem;
    .quitcon{
        width: 5.64rem;
        height: 100%;
        @include center;
        background: #29DD8B;
        border-radius: 0.7rem;
        text-align: center;
        line-height: 0.7rem;
        color: #FAFAFA;
        font-size: 0.27rem;
        font-weight: bold;
        span{
            
            display: inline-block;
            width: 0.06rem;
            height: 0.06rem;
            background: #FAFAFA;
            border-radius: 50%;
        }
        .left{
            @include top-bottom;
            left: 0.34rem;
        }
        .right{
            @include top-bottom;
            right: 0.34rem;
        }
    }
}
}