@import "../base/base.scss";
body,html{
    width: 100%;
    height: 100%;
    position: relative;
}
$img:"../../img/my/";
/*顶部*/
#myfour{ 
    width: 100%;
    height: 100%;
    position: relative;
a{
    display: inline-block;
    width: 100%;
    height: 100%; 
    @include center;
    z-index: 100;
    color: #FAFAFA;
}

#persontopintercalate{
    width: 100%;
    height: 1.08rem; 
    background: #2BA6DC;
    .install{
        width: 100%;
        height: 1.08rem;
    }
    .install li{
        line-height: 1.08rem;
    }
    .install .left{
        @include top-bottom;
        left: 0.24rem;
        span{
            display: inline-block;
            width: 0.44rem;
            height: 0.44rem;
            border: 3px solid #0F74B5;
            border-radius: 50%;
            background: #FAFAFA;
            margin-top: 0.32rem;
            background: #FAFAFA url($img+"11.png")no-repeat;
            background-size: 30%;
            background-position: center;
        }
    }
    .install .middle{
        @include center;
        div:nth-of-type(1){
            line-height: 0.9rem;
            text-align: center;
            height: 50%;
            font-size: 0.35rem;
            color: #FAFAFA;
        }
        div:nth-of-type(2){
            line-height: 0.2rem;
            text-align: center;
            height: 25%;
            font-size: 0.35rem;
            color: #FAFAFA;
            background:url($img+"1.png")no-repeat;
            background-position: center 52%;
        }
        div:nth-of-type(3){
            line-height: 0rem;
            text-align: center;
            height: 25%;
            font-size: 0.14rem;
            color: #90DCFF;
        }
    }
}
#personmain{
    widows: 100%;
    height: auto;
    @include left-right;
    top: 1.29rem;
    .list{
         @include left-right;
         top: 0;
        width: 7.02rem;
        height: 3.58rem;
        box-shadow: 0 0 0 5px rgba(236,236,236,0.2);
        border-radius: 0.02rem;
        li{
            height: 0.87rem;
            border-bottom: 1px dotted #B8B8B8 ;
            line-height: 0.87rem;
            font-size: 0.11rem;
            div{
                display: inline-block;
            }
            
            .lister{
                display: inline-block;
                float: right;
                margin-right: 0.31rem;
                background:url($img+"7.png")no-repeat;
                background-position: right;
                h6{
                    display: inline-block;
                    margin-right: 0.11rem;
                    color: #3D3D3D;
                }
                .cirty{
                    width: 0.88rem;
                    height: 0.42rem;
                    border: 0.03rem solid #D9E1FF;
                    border-radius: 0.42rem;
                    margin-right: 0;
                    .cir{
                        width: 0.26rem;
                        height: 0.26rem;
                        border: 0.03rem solid #D9E1FF;
                        border-radius: 0.26rem;
                        background: #FAFAFA;
                        @include top-bottom;
                        right: 0.03rem;
                        .smallcir{
                            width: 0.06rem;
                            height: 0.06rem;
                            border-radius: 50%;
                            background: #2FE7CB;
                            @include top-bottom;
                            left: 0.03rem;
                        }
                    }
                }
            }
            .weq{
                background: transparent;
            }
            h2{
                line-height: 0.7rem;
                height: 50%;
                color: #363636;
                font-size: 0.16rem;
            }
            p{
                height: 50%;
                line-height: 0.01rem;
                color: #666666;
            }
            span{
                margin: {
                    left: 0.165rem;
                    right:0.165rem;
                    top: 0.27rem;
                };
                float: left;
                display: inline-block;
                width: 0.33rem;
                height: 0.33rem;
                background: #3D63FD url($img+"19.png")no-repeat;
                background-size: 60%;
                background-position: center;
                border-radius: 50%;
                text-align: center;
                line-height: 0.33rem;
            }
            .qblue{
                background: #3DFBFD url($img+"21.png")no-repeat;
                background-size: 60%;
                background-position: center;
            }
            .green{
                background: #3DFD9A url($img+"22.png")no-repeat;
                background-size: 60%;
                background-position: center;
            }
            .yellow{
                background: #FDCD3D url($img+"22.png")no-repeat;
                background-size: 60%;
                background-position: center;
            }
        }
        .last{
            border: 0;
        }
    }
}
#personmain1{
    widows: 100%;
    height: auto;
    @include left-right;
    top: 5.1rem;
    .list{
         @include left-right;
         top: 0;
        width: 7.02rem;
        height: 3.58rem;
        box-shadow: 0 0 0 5px rgba(236,236,236,0.2);
        border-radius: 0.02rem;
        li{
            height: 0.87rem;
            border-bottom: 1px dotted #B8B8B8 ;
            line-height: 0.87rem;
            font-size: 0.11rem;
            div{
                display: inline-block;
            }
            .lister{
                display: inline-block;
                float: right;
                margin-right: 0.31rem;
                background:url($img+"7.png")no-repeat;
                background-position: right;
                h6{
                    display: inline-block;
                    margin-right: 0.11rem;
                    color: #3D3D3D;
                }
                .cirty{
                    width: 0.88rem;
                    height: 0.42rem;
                    border: 0.03rem solid #D9E1FF;
                    border-radius: 0.42rem;
                    margin-right: 0;
                    .cir{
                        width: 0.26rem;
                        height: 0.26rem;
                        border: 0.03rem solid #D9E1FF;
                        border-radius: 0.26rem;
                        background: #FAFAFA;
                        @include top-bottom;
                        right: 0.03rem;
                        .smallcir{
                            width: 0.06rem;
                            height: 0.06rem;
                            border-radius: 50%;
                            background: #2FE7CB;
                            @include top-bottom;
                            left: 0.03rem;
                        }
                    }
                }
            }
            .weq{
                background: transparent;
            }
            h2{
                line-height: 0.7rem;
                height: 50%;
                color: #363636;
                font-size: 0.16rem;
            }
            p{
                height: 50%;
                line-height: 0.01rem;
                color: #666666;
            }
            span{
                margin: {
                    left: 0.165rem;
                    right:0.165rem;
                    top: 0.27rem;
                };
                float: left;
                display: inline-block;
                width: 0.33rem;
                height: 0.33rem;
                background: #3DFBFD url($img+"23.png")no-repeat;
                background-size: 50%;
                background-position: center;
                border-radius: 50%;
                text-align: center;
                line-height: 0.33rem;
                img{
                    width: 50%;
                }
            }
            .yellow{
                background: #E1B42E url($img+"24.png")no-repeat;
                background-size: 50%;
                background-position: center;
            }
        }
        .last{
            border: 0;
        }
    }
}
#shade{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 101;
    background: rgba(0,0,0,0.5);
    @include left-right;
    top: 0;
}
#Headportrait{
    display: none;
    @include center;
    width: 4.78rem;
    height: 2.95rem;
    background: #FFFFFF;
    z-index: 11;
    border-radius: 0.2rem;
    z-index: 102;
    .headp{
        @include left-right;
        top: 0;
        width: 100%;
        height: 100%;
        .first{
            height: 0.72rem;
            background:url($img+"25.png")no-repeat;
            background-position: center bottom;
            background-size: 100%;
            border-radius: 0.2rem 0.2rem 0 0;
            .pers{
                position: absolute;
                top: 0.18rem;
                left: 0.54rem;
                width: 0.36rem;
                height: 0.36rem;
                border-radius: 50%;
                background:#FFFFFF url($img+"28.png")no-repeat;
                background-position: center;
                background-size: 60%;
                text-align: center;
                line-height: 0.36rem;
            }
            h5{
                position: absolute;
                top: 0.18rem;
                left: 1.04rem;
                font-size: 0.2rem;
                color: #FAFAFA;
                font-weight: normal;
            }
            h6{
                position: absolute;
                top: 0.4rem;
                left: 1.04rem;
                font-size: 0.11rem;
                color: #D1FEF6;
                font-weight: normal;
            }
        }
        .second{
            width: 100%;
            height: 0.9rem;
            border-bottom: 1px dotted #999999;
            div{
                display: inline-block;
            }    
            h2{
                line-height: 0.7rem;
                height: 50%;
                color: #363636;
                font-size: 0.22rem;
            }
            p{
                height: 50%;
                line-height: 0.01rem;
                color: #666666;
                font-size: 0.13rem;
            }
            span{
                margin: {
                    left: 0.165rem;
                    right:0.165rem;
                    top: 0.3rem;
                };
                float: left;
                display: inline-block;
                width: 0.33rem;
                height: 0.33rem;
                background:#34FC87 url($img+"26.png")no-repeat;
                background-position: center;
                background-size: 60%;
                border-radius: 50%;
                text-align: center;
                line-height: 0.33rem;
            }
        }
        .three{
            width: 100%;
            height: 0.9rem;
            div{
                display: inline-block;
            }    
            h2{
                line-height: 0.7rem;
                height: 50%;
                color: #363636;
                font-size: 0.22rem;
            }
            p{
                height: 50%;
                line-height: 0.01rem;
                color: #666666;
                font-size: 0.13rem;
            }
            span{
                margin: {
                    left: 0.165rem;
                    right:0.165rem;
                    top: 0.3rem;
                };
                float: left;
                display: inline-block;
                width: 0.33rem;
                height: 0.33rem;
                border-radius: 50%;
                text-align: center;
                line-height: 0.33rem;
            }
            .yellow{
                background:#34D3FC url($img+"27.png")no-repeat;
                background-position: center;
                background-size: 60%;
            }
        }
    }
    .Notrue{
        @include left-right;
        bottom: -0.31rem;
        width: 2.53rem;
        height: 0.65rem;
        background: #2BDCBC;
        border-radius: 0.65rem;
        text-align: center;
        line-height: 0.65rem;
        font-size: 0.21rem;
        color: #FAFAFA;
    }
}
#Sex{
    display: none;
    @include center;
    width: 4.78rem;
    height: 2.95rem;
    background: #FFFFFF;
    z-index: 102;
    border-radius: 0.2rem;
    .headp{
        @include left-right;
        top: 0;
        width: 100%;
        height: 100%;
        .first{
            height: 0.72rem;
            background:url($img+"25.png")no-repeat;
            background-position: center bottom;
            background-size: 100%;
            border-radius: 0.2rem 0.2rem 0 0;
            .pers{
                position: absolute;
                top: 0.18rem;
                left: 0.54rem;
                width: 0.36rem;
                height: 0.36rem;
                border-radius: 50%;
                background:#FFFFFF url($img+"30.png")no-repeat;
                background-position: center;
                background-size: 60%;
                text-align: center;
                line-height: 0.36rem;
            }
            h5{
                position: absolute;
                top: 0.18rem;
                left: 1.04rem;
                font-size: 0.2rem;
                color: #FAFAFA;
                font-weight: normal;
            }
            h6{
                position: absolute;
                top: 0.4rem;
                left: 1.04rem;
                font-size: 0.11rem;
                color: #D1FEF6;
                font-weight: normal;
            }
        }
        .three{
            width: 100%;
            height: 1.8rem;
            span{
                display: inline-block;
                width: 0.66rem;
                height: 0.66rem;
                border-radius: 50%;
                background:#FFFFFF url($img+"29.png")no-repeat;
                background-position: center;
                background-size: 60%;
                box-shadow: 0 0 0 5px rgba(236,236,236,0.5);
                text-align: center;
                line-height: 0.66rem;
            }
            span:nth-of-type(1){
                @include top-bottom;
                left: 1.09rem;
            }
            span:nth-of-type(2){
                @include top-bottom;
                right: 1.09rem;
                background:#2BDCBC url($img+"31.png")no-repeat;
                background-position: center;
                background-size: 60%;
            }
        }
    }
    .Notrue{
        @include left-right;
        bottom: -0.31rem;
        width: 2.53rem;
        height: 0.65rem;
        background: #2BDCBC;
        border-radius: 0.65rem;
        text-align: center;
        line-height: 0.65rem;
        font-size: 0.21rem;
        color: #FAFAFA;
    }
}
}