@import "../base/base.scss";
body{ 
    background: #FAFAFA;
}
$img:"../../img/my/";
body,html{
    width: 100%;
    height: 100%;
    position: relative;
} 

/*顶部*/
#myone{
    .moveleft{ 
        transform: translateX(-0.48rem);
    }
    .smoveleft{
        transform: translateX(-0.009rem);
    }
    width: 100%;
    height: 100%;
    position: relative;
    
a{
    display: inline-block;
    width: 100%;
    height: 100%; 
    @include center;
    z-index: 100;
    color: #FAFAFA;
}
.greenzi{
    color: #29DD8B;
}
#persontopintercalate{
    width: 100%;
    height: 1.08rem; 
    background: #2BA6DC;
    .install{
        width: 100%;
        height: 1.08rem;
    }
    .install li{
        line-height: 1.08rem;
    }
    .install .left{
        @include top-bottom;
        left: 0.24rem;
        span{
            display: inline-block;
            width: 0.44rem;
            height: 0.44rem;
            border: 3px solid #0F74B5;
            border-radius: 50%;
            background: #FAFAFA url($img+"11.png")no-repeat;
            background-size: 30%;
            background-position: center;
            margin-top: 0.32rem;
        }
    }
    .install .middle{
        @include center;
        div:nth-of-type(1){
            line-height: 0.9rem;
            text-align: center;
            height: 50%;
            font-size: 0.35rem;
            color: #FAFAFA;
        }
        div:nth-of-type(2){
            line-height: 0.2rem;
            text-align: center;
            height: 25%;
            font-size: 0.35rem;
            color: #FAFAFA;
            background:url($img+"1.png")no-repeat;
            background-position: center 52%;
        }
        div:nth-of-type(3){
            line-height: 0rem;
            text-align: center;
            height: 25%;
            font-size: 0.14rem;
            color: #90DCFF;
        }
    }
    .install .right{
        @include top-bottom;
        right: 0.24rem;
        span{
            display: inline-block;
            width: 0.44rem;
            height: 0.44rem;
            border: 3px solid #0F74B5;
            border-radius: 50%;
            background: #FAFAFA url($img+"10.png")no-repeat;
            background-size: 70%;
            background-position: center;
            margin-top: 0.32rem;
        }
    }
}
#personmain{
    widows: 100%;
    height: auto;
    @include left-right;
    top: 1.29rem;
    .list{
         @include left-right;
         top: 0;
        width: 7.02rem;
        height: 3.58rem;
        box-shadow: 0 0 0 5px rgba(236,236,236,0.2);
        border-radius: 0.02rem;
        li{
            height: 0.87rem;
            border-bottom: 1px dotted #B8B8B8 ;
            line-height: 0.87rem;
            font-size: 0.11rem;
            div{
                display: inline-block;
            }
            .lister{
                display: inline-block;
                float: right;
                margin-right: 0.31rem;
                background:url($img+"7.png")no-repeat;
                background-position: right;
                h6{
                    display: inline-block;
                    margin-right: 0.3rem;
                    color: #3D3D3D;
                }
                .cirty{
                    width: 0.88rem;
                    height: 0.42rem;
                    border: 0.03rem solid #D9E1FF;
                    border-radius: 0.42rem;
                    margin-right: 0;
                    .cir{
                        width: 0.26rem;
                        height: 0.26rem;
                        border: 0.03rem solid #D9E1FF;
                        border-radius: 0.26rem;
                        background: #FAFAFA;
                        @include top-bottom;
                        right: 0.03rem;
                        .smallcir{
                            width: 0.06rem;
                            height: 0.06rem;
                            border-radius: 50%;
                            background: #2FE7CB;
                            @include top-bottom;
                            left: 0.03rem;
                        }
                    }
                }
            }
            
            h2{
                line-height: 0.7rem;
                height: 50%;
                color: #363636;
                font-size: 0.16rem;
            }
            p{
                height: 50%;
                line-height: 0.01rem;
                color: #666666;
            }
            span{
                margin: {
                    left: 0.165rem;
                    right:0.165rem;
                    top: 0.27rem;
                };
                float: left;
                display: inline-block;
                width: 0.33rem;
                height: 0.33rem;
                background: #3D63FD url($img+"12.png")no-repeat;
                background-size: 70%;
                background-position: center;
                border-radius: 50%;
                text-align: center;
                line-height: 0.33rem;
            }
            #xixw{
                background: transparent; 
                span{
                   background: transparent; 
                }
                
                .cirty{
                    width: 0.88rem;
                    height: 0.42rem;
                    border: 0.03rem solid #D9E1FF;
                    border-radius: 0.42rem;
                    margin-right: 0;
                    background: #3D91FD;
                    .cir{
                        width: 0.26rem;
                        height: 0.26rem;
                        border: 0.03rem solid #D9E1FF;
                        border-radius: 0.26rem;
                        background: #FAFAFA;
                        @include top-bottom;
                        right: 0.03rem;
                        .smallcir{
                            width: 0.06rem;
                            height: 0.06rem;
                            border-radius: 50%;
                            background: #2FE7CB;
                            @include top-bottom;
                            left: 0.03rem;
                        }
                    }
                }
            }
            .qblue{
                background: #3DBFFD url($img+"13.png")no-repeat;
                background-size: 70%;
                background-position: center;
            }
            .green{
                background: #2FE7CB url($img+"14.png")no-repeat;
                background-size: 70%;
                background-position: center;
            }
            .yellow{
                background: #FDCD3D url($img+"15.png")no-repeat;
                background-size: 70%;
                background-position: center;
            }
        }
        .last{
            border: 0;
        }
    }
}
#quit{
    width: 100%;
    height: 0.7rem;
    @include left-right;
    top: 11.49rem;
    .quitcon{
        width: 5.64rem;
        height: 100%;
        @include center;
        background: #29DD8B;
        border-radius: 0.7rem;
        text-align: center;
        line-height: 0.7rem;
        color: #FAFAFA;
        font-size: 0.27rem;
        font-weight: bold;
        span{
            
            display: inline-block;
            width: 0.06rem;
            height: 0.06rem;
            background: #FAFAFA;
            border-radius: 50%;
        }
        .left{
            @include top-bottom;
            left: 0.34rem;
        }
        .right{
            @include top-bottom;
            right: 0.34rem;
        }
    }
}
#shade{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 101;
    background: rgba(0,0,0,0.5);
    @include left-right;
    top: 0;
}
#Headportrait{
    display: none;
    @include center;
    width: 4.78rem;
    height: 5.61rem;
    background: #FFFFFF;
    z-index: 102;
    border-radius: 0.2rem;
    .headp{
        @include left-right;
        top: 0;
        width: 100%;
        height: 100%;
        
        .first{
            height: 0.72rem;
            background:url($img+"25.png")no-repeat;
            background-position: center bottom;
            background-size: 100%;
            border-radius: 0.2rem 0.2rem 0 0;
            .pers{
                position: absolute;
                top: 0.18rem;
                left: 0.54rem;
                width: 0.36rem;
                height: 0.36rem;
                border-radius: 50%;
                background:#FFFFFF url($img+"28.png")no-repeat;
                background-position: center;
                background-size: 60%;
                text-align: center;
                line-height: 0.36rem;
            }
            h5{
                position: absolute;
                top: 0.18rem;
                left: 1.04rem;
                font-size: 0.2rem;
                color: #FAFAFA;
                font-weight: normal;
            }
            h6{
                position: absolute;
                top: 0.4rem;
                left: 1.04rem;
                font-size: 0.11rem;
                color: #D1FEF6;
                font-weight: normal;
            }
        }
        .second{
            margin: 0 auto;
            width: 4.34rem;
            height: 0.9rem;
            border-bottom: 1px dotted #999999;
            .leftd{
                margin-left: 0.15rem;
                display: inline-block;
            }
            .rightd{
                @include top-bottom;
                right: 0.15rem;
                line-height: 0.9rem;
                text-align: center;
                span{
                    margin: 0;
                    margin: {
                        top: 0.3rem;
                    };
                    width: 0.3rem;
                    height: 0.3rem;
                    border: 1px solid #30DDBE;
                    border-radius: 50%;
                    background: transparent;
                }
            }    
            h2{
                line-height: 0.7rem;
                height: 50%;
                color: #363636;
                font-size: 0.22rem;
            }
            p{
                height: 50%;
                line-height: 0.01rem;
                color: #666666;
                font-size: 0.13rem;
            }
            span{
                margin: {
                    left: 0.165rem;
                    right:0.165rem;
                    top: 0.3rem;
                };
                float: left;
                display: inline-block;
                width: 0.33rem;
                height: 0.33rem;
                background: #34FC87;
                border-radius: 50%;
                text-align: center;
                line-height: 0.33rem;
                img{
                    width: 50%;
                }
            }
            .yellow{
                background: #E1B42E;
            }
        }
        .three{
            width: 100%;
            height: 1.49rem;
            span{
                display: inline-block;
                width: 1.95rem;
                height: 0.58rem;
                text-align: center;
                line-height: 0.58rem;
                border-radius: 0.58rem;
                background: #29DD8B;
            }
            .left{
                background: #FAFAFA;
                border: 1px solid #29DD8B;
                @include top-bottom;
                left: 0.15rem;
                color: #29DD8B;
                font-size: 0.25rem;
                text-align: center;
                .cirl{
                    @include top-bottom;
                    left: 0.24rem;
                    width: 0.06rem;
                    height: 0.06rem;
                    border-radius: 50%;
                    background: #29DD8B;
                }
                .cirr{
                    @include top-bottom;
                    right: 0.24rem;
                    width: 0.06rem;
                    height: 0.06rem;
                    border-radius: 50%;
                    background: #29DD8B;
                }
            }
            .right{
                @include top-bottom;
                right: 0.15rem;
                font-size: 0.25rem;
                text-align: center;
                color: #FAFAFA;
                .cirl{
                    @include top-bottom;
                    left: 0.24rem;
                    width: 0.06rem;
                    height: 0.06rem;
                    border-radius: 50%;
                    background: #FAFAFA;
                }
                .cirr{
                    @include top-bottom;
                    right: 0.24rem;
                    width: 0.06rem;
                    height: 0.06rem;
                    border-radius: 50%;
                    background: #FAFAFA;
                }
            }
        }
        .dx{
            .rightd{
                span{
                    .cir{
                        margin: 0 auto;
                        width: 0.14rem;
                        height: 0.14rem;
                        background: #51E2C8;
                        border-radius: 50%;
                        margin: {
                            top: 0.055rem;
                            left: 0.055rem;
                        };
                   }
                }
                
            }
        }
    }
}
#Sex{
    display: none;
    @include center;
    width: 4.78rem;
    height: 5.61rem;
    background: #FFFFFF;
    z-index: 102;
    border-radius: 0.2rem;
    .headp{
        @include left-right;
        top: 0;
        width: 100%;
        height: 100%;
        
        .first{
            height: 0.72rem;
            background:url($img+"25.png")no-repeat;
            background-position: center bottom;
            background-size: 100%;
            border-radius: 0.2rem 0.2rem 0 0;
            .leftd{
                width: 70%;
                @include top-bottom;
                left: 0.15rem;
                .pers{
                position: absolute;
                top: 0.18rem;
                left: 0.54rem;
                width: 0.36rem;
                height: 0.36rem;
                border-radius: 50%;
                background:#FFFFFF url($img+"35.png")no-repeat;
                background-position: center;
                background-size: 60%;
                text-align: center;
                line-height: 0.36rem;
            }
            h5{
                position: absolute;
                top: 0.18rem;
                left: 1.04rem;
                font-size: 0.2rem;
                color: #FAFAFA;
                font-weight: normal;
            }
            h6{
                position: absolute;
                top: 0.4rem;
                left: 1.04rem;
                font-size: 0.11rem;
                color: #D1FEF6;
                font-weight: normal;
            }
            }
            
            .rightd{
                width: 30%;
                @include top-bottom;
                right: 0.015rem;
                line-height: 0.9rem;
                text-align: center;
                span{
                    display: inline-block;
                    width: 0.3rem;
                    height: 0.3rem;
                    border: 1px solid #FAFAFA;
                    border-radius: 50%;
                    .cir{
                        margin: 0 auto;
                        width: 0.2rem;
                        height: 0.2rem;
                        background: #FAFAFA;
                        border-radius: 50%;
                        margin: {
                            top: 0.025rem;
                            left: 0.025rem;
                        };
                   }
                }
                .xz{
                    color: #FAFAFA;
                    font-size: 0.14rem;
                    width: auto;
                    height: auto;
                    border: 0;
                }
            }
            
        }
        .second{
            margin: 0 auto;
            width: 4.34rem;
            height: 0.9rem;
            border-bottom: 1px dotted #999999;
            .leftd{
                margin-left: 0.15rem;
                display: inline-block;
            }
            .rightd{
                @include top-bottom;
                right: 0.15rem;
                line-height: 0.9rem;
                text-align: center;
                span{
                    margin: 0;
                    margin: {
                        top: 0.3rem;
                    };
                    width: 0.3rem;
                    height: 0.3rem;
                    border: 1px solid #30DDBE;
                    border-radius: 50%;
                    background: transparent;
                }
            }    
            h2{
                line-height: 0.7rem;
                height: 50%;
                color: #363636;
                font-size: 0.22rem;
            }
            p{
                height: 50%;
                line-height: 0.01rem;
                color: #666666;
                font-size: 0.13rem;
            }
            span{
                margin: {
                    left: 0.165rem;
                    right:0.165rem;
                    top: 0.3rem;
                };
                float: left;
                display: inline-block;
                width: 0.33rem;
                height: 0.33rem;
                background: #34FC87;
                border-radius: 50%;
                text-align: center;
                line-height: 0.33rem;
                img{
                    width: 50%;
                }
            }
            .yellow{
                background: #E1B42E;
            }
        }
        .three{
            width: 100%;
            height: 1.49rem;
            span{
                display: inline-block;
                width: 1.95rem;
                height: 0.58rem;
                text-align: center;
                line-height: 0.58rem;
                border-radius: 0.58rem;
                background: #29DD8B;
            }
            .left{
                background: #FAFAFA;
                border: 1px solid #29DD8B;
                @include top-bottom;
                left: 0.15rem;
                color: #29DD8B;
                font-size: 0.25rem;
                text-align: center;
                .cirl{
                    @include top-bottom;
                    left: 0.24rem;
                    width: 0.06rem;
                    height: 0.06rem;
                    border-radius: 50%;
                    background: #29DD8B;
                }
                .cirr{
                    @include top-bottom;
                    right: 0.24rem;
                    width: 0.06rem;
                    height: 0.06rem;
                    border-radius: 50%;
                    background: #29DD8B;
                }
            }
            .right{
                @include top-bottom;
                right: 0.15rem;
                font-size: 0.25rem;
                text-align: center;
                color: #FAFAFA;
                .cirl{
                    @include top-bottom;
                    left: 0.24rem;
                    width: 0.06rem;
                    height: 0.06rem;
                    border-radius: 50%;
                    background: #FAFAFA;
                }
                .cirr{
                    @include top-bottom;
                    right: 0.24rem;
                    width: 0.06rem;
                    height: 0.06rem;
                    border-radius: 50%;
                    background: #FAFAFA;
                }
            }
        }
        .dx{
            .rightd{
                span{
                    .cir{
                        margin: 0 auto;
                        width: 0.14rem;
                        height: 0.14rem;
                        background: #51E2C8;
                        border-radius: 50%;
                        margin: {
                            top: 0.055rem;
                            left: 0.055rem;
                        };
                   }
                }
                
            } 
        }
    }
}
} 