@import "../base/base.scss";
body,html{
    width: 100%;
    height: 100%;
    position: relative;
}
$img:"../../img/my/";
/*顶部*/
#mysix{
    

a{ 
    display: inline-block;
    width: 100%;
    height: 100%; 
    @include center;
    z-index: 100;
}
#persontopintercalate{ 
    width: 100%;
    height: 1.08rem; 
    background: #2BA6DC;
    .install{
        width: 100%;
        height: 1.08rem;
    }
    .install li{
        line-height: 1.08rem; 
    }
    .install .left{
        @include top-bottom;
        left: 0.24rem;
        span{
            display: inline-block;
            width: 0.44rem;
            height: 0.44rem;
            border: 3px solid #0F74B5;
            border-radius: 50%;
            background: #FAFAFA url($img+"11.png")no-repeat;
            background-size: 30%;
            background-position: center;
            margin-top: 0.32rem;
        }
    }
    .install .middle{
        @include center;
        div:nth-of-type(1){
            line-height: 0.9rem;
            text-align: center;
            height: 50%;
            font-size: 0.35rem;
            color: #FAFAFA;
        }
        div:nth-of-type(2){
            line-height: 0.2rem;
            text-align: center;
            height: 25%;
            font-size: 0.35rem;
            color: #FAFAFA;
            background:url($img+"1.png")no-repeat;
            background-position: center 52%;
        }
        div:nth-of-type(3){
            line-height: 0rem;
            text-align: center;
            height: 25%;
            font-size: 0.14rem;
            color: #90DCFF;
        }
    }
}
#personmain{
    z-index: 10;
    widows: 100%;
    height: auto;
    @include left-right;
    top: 1.29rem;
    .cirl{
        @include left-right;
        top: 0rem;
        width: 7.28rem;
        height: 0.1rem;
        background: #D5D5D5;
        border-radius: 0.1rem;
        z-index: 1;
    }
    .list{
        background: #FAFAFA;
        z-index: 10;
        @include left-right;
        top: 0.05rem;
        width: 7.02rem;
        height: 7.45rem;
        box-shadow: 0 0 0 5px rgba(236,236,236,0.2);
        border-radius: 0.02rem;
        li{
            color: #666666;
            width: 5.5rem;
            margin: 0 auto;
            margin: {
                bottom: 0.51rem;
            };
        }
        .first{
            text-align: center;
            margin:{
                top: 0.39rem;
                bottom: 0.65rem;
            };
            h2{
                font-weight: normal;
            }
        }
    }
}
}