@import "../base/base.scss";
$img:"../../img/my/";
body,html{
    width: 100%;
    height: 100%;
    position: relative;
}
/*顶部*/
#mythree{
a{
    display: inline-block;
    width: 100%;
    height: 100%; 
    @include center;
    z-index: 100;
    color: #FAFAFA;
}

#persontopintercalate{
    width: 100%;
    height: 1.08rem;
    background: #2BA6DC;
    .install{
        width: 100%;
        height: 1.08rem;
    }
    .install li{
        line-height: 1.08rem;
    }
    .install .left{
        @include top-bottom;
        left: 0.24rem;
        span{
            display: inline-block;
            width: 0.44rem;
            height: 0.44rem;
            border: 3px solid #0F74B5;
            border-radius: 50%;
            background: #FAFAFA url($img+"11.png")no-repeat;
            background-size: 30%;
            background-position: center;
            margin-top: 0.32rem;
        }
    }
    .install .middle{
        @include center;
        div:nth-of-type(1){
            line-height: 1rem;
            text-align: center;
            height: 50%;
            font-size: 0.35rem;
            color: #FAFAFA;
        }
        div:nth-of-type(2){
            line-height: 0.2rem;
            text-align: center;
            height: 25%;
            font-size: 0.35rem;
            color: #FAFAFA;
            background:url($img+"1.png")no-repeat;
            background-position: center 52%;
        }
        div:nth-of-type(3){
            line-height: 0rem;
            text-align: center;
            height: 25%;
            font-size: 0.14rem;
            color: #90DCFF;
        }
    }
}
#personxxk{
    widows: 100%;
    height: auto;
    @include left-right;
    top: 1.29rem;
    text-align: center;
    .xxkz{
        margin: 0 auto;
        width: 5.71rem;
        background: #2C3744;
        height: 0.84rem;
        border-radius: 0.84rem;
        .bg{
            width: 2.39rem;
            height: 0.68rem;
            background: #2BA6DC;
            border: 1px solid #FAFAFA;
            border-radius: 0.68rem;
            font-size: 0.05rem;
                span{
                    display: inline-block;
                    border: 1px solid #3D3D3D;
                    border-radius: 1rem;
                    margin-top: 0.13rem;
                }
                .cirz{
                    background: #2BA6DC;
                    border: 0;
                    color: #FAFAFA;
                    font-size: 0.15rem;
                    .cirl1{
                        margin-bottom: 0.03rem;
                        width: 0.04rem;
                        height: 0.04rem;
                        border-radius: 50%;
                        background: #FAFAFA;
                        padding: 0;
                        border: 0;
                    }
                    .cirl2{
                        margin-bottom: 0.03rem;
                        width: 0.04rem;
                        height: 0.04rem;
                        border-radius: 50%;
                        background: #FAFAFA;
                        padding: 0;
                        border: 0;
                    }
                    .cirr1{
                        margin-bottom: 0.03rem;
                        width: 0.04rem;
                        height: 0.04rem;
                        border-radius: 50%;
                        background: #FAFAFA;
                        padding: 0;
                        border: 0;
                    }
                    .cirr2{
                        margin-bottom: 0.03rem;
                        width: 0.04rem;
                        height: 0.04rem;
                        border-radius: 50%;
                        background: #FAFAFA;
                        padding: 0;
                        border: 0;
                    }
                }
                .Ewenzi{
                    @include left-right;
                    bottom: 0.02rem;
                    color: #96CDE5;
                    font-size: 0.03rem;
                    border: 0;
                }
                span{
                    display: inline-block;
                    border: 1px solid #3D3D3D;
                    border-radius: 1rem;
                    margin-top: 0.13rem;
                }
                .cirz{
                    border: 0;
                    color: #FAFAFA;
                    font-size: 0.15rem;
                    .cirl1{
                        margin-bottom: 0.03rem;
                        width: 0.04rem;
                        height: 0.04rem;
                        border-radius: 50%;
                        background: #FAFAFA;
                        padding: 0;
                        border: 0;
                    }
                    .cirl2{
                        margin-bottom: 0.03rem;
                        width: 0.04rem;
                        height: 0.04rem;
                        border-radius: 50%;
                        background: #FAFAFA;
                        padding: 0;
                        border: 0;
                    }
                    .cirr1{
                        margin-bottom: 0.03rem;
                        width: 0.04rem;
                        height: 0.04rem;
                        border-radius: 50%;
                        background: #FAFAFA;
                        padding: 0;
                        border: 0;
                    }
                    .cirr2{
                        margin-bottom: 0.03rem;
                        width: 0.04rem;
                        height: 0.04rem;
                        border-radius: 50%;
                        background: #FAFAFA;
                        padding: 0;
                        border: 0;
                    }
                }
                .Ewenzi{
                    @include left-right;
                    bottom: 0.02rem;
                    color: #96CDE5;
                    font-size:0.03rem;
                    border: 0;
                }
        }
        .left{
            margin-top: 0.08rem;
            float: left;
            margin-left: 0.08rem;
            width: 2.39rem;
            height: 0.68rem;
            border-radius: 0.68rem;
            font-size: 0.05rem;
            span{
                color: #FAFAFA;
                font-size: 0.15rem;
                display: inline-block;
                border-radius: 1rem;
                margin-top: 0.13rem;
            }
            .Ewenzi{
                @include left-right;
                bottom: 0.02rem;
                color: #96CDE5;
                font-size: 0.03rem;
                border: 0;
            }
        }
        .middle{
            @include center;
            line-height: 0.84rem;
            background: url($img+"16.png")no-repeat;
            background-size: 0.5%;
            background-position: center;
        }
        .right{
            margin-top: 0.08rem;
            float: right;
            margin-right: 0.08rem;
            width: 2.39rem;
            height: 0.68rem;
            border-radius: 0.68rem;
            font-size: 0.05rem;
            span{
                color: #FAFAFA;
                font-size: 0.15rem;
                display: inline-block;
                border-radius: 1rem;
                margin-top: 0.13rem;
            }
            .Ewenzi{
                @include left-right;
                bottom: 0.02rem;
                color: #96CDE5;
                font-size: 0.03rem;
                border: 0;
            }
        }
    }
}
#personmainl{
    display: block;
    widows: 100%;
    height: auto;
    @include left-right;
    top: 2.55rem;
    .list{
         @include left-right;
         top: 0;
        width: 7.02rem;
        height: 6.17rem;
        box-shadow: 0 0 0 5px rgba(236,236,236,0.2);
        border-radius: 2px;
        li{
            height: 0.87rem;
            border-bottom: 1px dotted #B8B8B8 ;
            line-height: 0.87rem;
            font-size: 11px;
            div{
                display: inline-block;
            }
            .lister{
                display: inline-block;
                float: right;
                margin-right: 0.31rem;
                background:url($img+"7.png")no-repeat;
                background-position: right;
                h6{
                    display: inline-block;
                    margin-right: 0.3rem;
                    color: #3D3D3D;
                }
                .cirty{
                    width: 0.88rem;
                    height: 0.42rem;
                    border: 0.03rem solid #D9E1FF;
                    border-radius: 0.42rem;
                    margin-right: 0;
                    .cir{
                        width: 0.26rem;
                        height: 0.26rem;
                        border: 0.03rem solid #D9E1FF;
                        border-radius: 0.26rem;
                        background: #FAFAFA;
                        @include top-bottom;
                        right: 0.03rem;
                        .smallcir{
                            width: 0.06rem;
                            height: 0.06rem;
                            border-radius: 50%;
                            background: #2FE7CB;
                            @include top-bottom;
                            left: 0.03rem;
                        }
                    }
                }
            }
            h2{
                line-height: 0.7rem;
                height: 50%;
                color: #363636;
                font-size: 0.16rem;
            }
            p{
                height: 50%;
                line-height: 0.01rem;
                color: #666666;
            }
            span{
                margin: {
                    left: 0.165rem;
                    right:0.165rem;
                    top: 0.27rem;
                };
                float: left;
                display: inline-block;
                width: 0.33rem;
                height: 0.33rem;
                background: #FDCD3D url($img+"17.png")no-repeat;
                background-size: 70%;
                background-position: center;
                border-radius: 50%;
                text-align: center;
                line-height: 0.33rem;
            }
            .qblue{
                background: #FDCD3D url($img+"17.png")no-repeat;
                background-size: 70%;
                background-position: center;
            }
            .green{
                background: #FDCD3D url($img+"17.png")no-repeat;
                background-size: 70%;
                background-position: center;
            }
            .yellow{
                background: #FDCD3D url($img+"17.png")no-repeat;
                background-size: 70%;
                background-position: center;
            }
        }
        .last{
            border: 0;
        }
    }
}
#personmainr{
    display: none;
    widows: 100%;
    height: auto;
    @include left-right;
    top: 2.55rem;
    .list{
         @include left-right;
         top: 0;
        width: 7.02rem;
        height: 5.61rem;
        box-shadow: 0 0 0 5px rgba(236,236,236,0.2);
        border-radius: 2px;
        li{
            height: 1.4rem;
            border-bottom: 1px dotted #B8B8B8 ;
            line-height: 0.87rem;
            font-size: 0.11rem;
            div{position: absolute;
                display: inline-block;
            }
            .lister{
                display: inline-block;
                position: absolute;
                right: 0;
                top: 0.039rem;
                margin-right: 0.31rem;
                padding-left: 0.4rem;
                background:url($img+"20.png")no-repeat;
                background-position: left;
                h6{
                    display: inline-block;
                    color: #666666;
                }
            }
            h2{
                line-height: 0.6rem;
                height: 50%;
                color: #363636;
                font-size: 0.16rem;
            }
            p{
                margin-top: -0.1rem;
                height: 25%;
                line-height: 0.19rem;
                color: #666666;
                margin-bottom: 0.2rem;
                font-size: 0.1rem;
            }
            span{
                margin: {
                    left: 0.165rem;
                    right:0.165rem;
                    top: 0.27rem;
                };
                float: left;
                display: inline-block;
                width: 0.68rem;
                height: 0.68rem;
                background: #3D63FD;
                border-radius: 50%;
                text-align: center;
                line-height: 0.68rem;
                background: #FAFAFA url($img+"18.png")no-repeat;
                background-size: 100%;
                background-position: center;
            }
        }
        .last{
            border: 0;
        }
    }
}
}