@import "../base/base.scss";
$img:"../../img/my/"; 
body,html{
    width: 100%;
    height: 100%;
    position: relative;
}
/*顶部*/
#mytwo{
    a{ 
        display: inline-block;
        width: 100%;
        height: 100%; 
        @include center;
        z-index: 100;
        color: #FAFAFA;
    }
    #persontopintercalate{
    width: 100%;
    height: 1.08rem;
    background: #2BA6DC;
    .install{
        width: 100%;
        height: 1.08rem;
    }
    .install li{
        line-height: 1.08rem;
    }
    .install .left{
        @include top-bottom;
        left: 0.24rem;
        span{
            display: inline-block;
            width: 0.44rem;
            height: 0.44rem;
            border: 3px solid #0F74B5;
            border-radius: 50%;
            background: #FAFAFA url($img+"11.png")no-repeat;
            background-size: 30%;
            background-position: center;
            margin-top: 0.32rem;
        }
    }
    .install .middle{
        @include center;
        div:nth-of-type(1){
            line-height: 1rem;
            text-align: center;
            height: 50%;
            font-size: 0.35rem;
            color: #FAFAFA;
        }
        div:nth-of-type(2){
            line-height: 0.2rem;
            text-align: center;
            height: 25%;
            font-size: 0.35rem;
            color: #FAFAFA;
            background:url($img+"1.png")no-repeat;
            background-position: center 52%;
        }
        div:nth-of-type(3){
            line-height: 0rem;
            text-align: center;
            height: 25%;
            font-size: 0.14rem;
            color: #90DCFF;
        }
    }
}
#personbody{
    width: 100%;
    height: auto;
    .line{
        margin-top: 1.54rem;
        width: 100%;
        height: auto;
        li{
            height: 1rem;
            width: 100%;
            text-align: center;
            padding: {
                bottom: 0.51rem;
            };
            span{
                display: inline-block;
                border: 1px solid #3D3D3D;
                border-radius: 1rem;
                padding: {
                    left: 0.35rem;
                    top: 0.16rem;
                    right: 0.35rem;
                    bottom: 0.16rem;
                };
            }
            .cirz{
                background: #2BA6DC;
                border: 0;
                color: #FAFAFA;
                font-size: 0.15rem;
                .cirl1{
                    margin-bottom: 0.03rem;
                    width: 0.04rem;
                    height: 0.04rem;
                    border-radius: 50%;
                    background: #FAFAFA;
                    padding: 0;
                    border: 0;
                }
                .cirl2{
                    margin-bottom: 0.03rem;
                    width: 0.04rem;
                    height: 0.04rem;
                    border-radius: 50%;
                    background: #FAFAFA;
                    padding: 0;
                    border: 0;
                }
                .cirr1{
                    margin-bottom: 0.03rem;
                    width: 0.04rem;
                    height: 0.04rem;
                    border-radius: 50%;
                    background: #FAFAFA;
                    padding: 0;
                    border: 0;
                }
                .cirr2{
                    margin-bottom: 0.03rem;
                    width: 0.04rem;
                    height: 0.04rem;
                    border-radius: 50%;
                    background: #FAFAFA;
                    padding: 0;
                    border: 0;
                }
            }
        }
    }
}
#quit{
    width: 100%;
    height: 0.7rem;
    @include left-right;
    top: 11.49rem;
    .quitcon{
        width: 5.64rem;
        height: 100%;
        @include center;
        background: #29DD8B;
        border-radius: 0.7rem;
        text-align: center;
        line-height: 0.7rem;
        color: #FAFAFA;
        font-size: 0.27rem;
        font-weight: bold;
        span{
            
            display: inline-block;
            width: 0.06rem;
            height: 0.06rem;
            background: #FAFAFA;
            border-radius: 50%;
        }
        .left{
            @include top-bottom;
            left: 0.34rem;
        }
        .right{
            @include top-bottom;
            right: 0.34rem;
        }
    }
}
}