@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
  font-style: normal;
  color: #777779;
  position: relative;
  font-family: "微软雅黑";
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 100px;
}

body {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 170.66667px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 192px;
  }
}

input {
  background: transparent;
  outline: medium;
}

.clear {
  clear: both;
}

@font-face {
  font-family: 'iconfont';
  /* project id："162086" */
  src: url("https://at.alicdn.com/t/font_3fx2ffh698iu23xr.eot");
  src: url("https://at.alicdn.com/t/font_3fx2ffh698iu23xr.eot?#iefix") format("embedded-opentype"), url("https://at.alicdn.com/t/font_3fx2ffh698iu23xr.woff") format("woff"), url("https://at.alicdn.com/t/font_3fx2ffh698iu23xr.ttf") format("truetype"), url("https://at.alicdn.com/t/font_3fx2ffh698iu23xr.svg#iconfont") format("svg");
}

/*顶部*/
#my a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  color: #FAFAFA;
}

#my #persontop {
  width: 100%;
  height: 1.08rem;
  background: #2BA6DC;
}

#my #persontop .install {
  width: 100%;
  height: 1.08rem;
}

#my #persontop .install li {
  line-height: 1.08rem;
}

#my #persontop .install .left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.24rem;
}

#my #persontop .install .left span {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  border: 3px solid #0F74B5;
  border-radius: 50%;
  background: #FAFAFA url("../../img/my/9.png") no-repeat;
  background-size: 70%;
  background-position: center;
  margin-top: 0.32rem;
}

#my #persontop .install .middle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#my #persontop .install .middle div:nth-of-type(1) {
  line-height: 1rem;
  text-align: center;
  height: 50%;
  font-size: 0.35rem;
  color: #FAFAFA;
}

#my #persontop .install .middle div:nth-of-type(2) {
  line-height: 0.2rem;
  text-align: center;
  height: 25%;
  font-size: 0.35rem;
  color: #FAFAFA;
  background: url("../../img/my/1.png") no-repeat;
  background-position: center 52%;
}

#my #persontop .install .middle div:nth-of-type(3) {
  line-height: 0rem;
  text-align: center;
  height: 25%;
  font-size: 0.14rem;
  color: #90DCFF;
}

#my #persontop .install .right {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.24rem;
}

#my #persontop .install .right span {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  border: 3px solid #0F74B5;
  border-radius: 50%;
  background: #FAFAFA url("../../img/my/10.png") no-repeat;
  background-size: 70%;
  background-position: center;
  margin-top: 0.32rem;
}

#my #personbody {
  width: 100%;
  height: 11.22rem;
  background: #FAFAFA;
}

#my #personbody .cir1 {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0.85rem;
  background: gray;
  height: auto;
}

#my #personbody .cir1 .per {
  width: 1.85rem;
  height: 1.85rem;
  border: 10px solid #EDEDED;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  background: url("../../img/my/2.png") no-repeat;
  background-size: 150%;
  background-position: right;
}

#my #personbody .cir1 .ziti1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.37rem;
  font-size: 0.3rem;
  text-align: center;
  color: #3D3D3D;
}

#my #personbody .cir1 .ziti2 {
  font-size: 0.2rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.83rem;
  text-align: center;
  color: #3D3D3D;
  background: #FAFAFA url("../../img/my/3.png") no-repeat;
  background-size: 3%;
  background-position: 85% center;
}

#my #personbody .cir1 .ziti2 input {
  background: transparent;
  outline: medium;
  width: 75%;
  height: 100%;
}

#my #personmain {
  widows: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 5.27rem;
}

#my #personmain .list {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 7.02rem;
  height: 3.58rem;
  box-shadow: 0 0 0 5px rgba(236, 236, 236, 0.2);
  border-radius: 0.02rem;
}

#my #personmain .list li {
  height: 0.87rem;
  border-bottom: 1px dotted #B8B8B8;
  line-height: 0.87rem;
  font-size: 0.11rem;
}

#my #personmain .list li div {
  display: inline-block;
}

#my #personmain .list li .lister {
  display: inline-block;
  float: right;
  margin-right: 0.31rem;
  background: url("../../img/my/7.png") no-repeat;
  background-position: right;
}

#my #personmain .list li .lister h6 {
  display: inline-block;
  margin-right: 0.3rem;
  color: #3D3D3D;
}

#my #personmain .list li h2 {
  line-height: 0.7rem;
  height: 50%;
  color: #363636;
  font-size: 0.16rem;
}

#my #personmain .list li p {
  height: 50%;
  line-height: 0.01rem;
  color: #666666;
}

#my #personmain .list li span {
  margin-left: 0.165rem;
  margin-right: 0.165rem;
  margin-top: 0.27rem;
  float: left;
  display: inline-block;
  width: 0.33rem;
  height: 0.33rem;
  background: #3D63FD url("../../img/my/4.png") no-repeat;
  background-size: 70%;
  background-position: center;
  border-radius: 50%;
  text-align: center;
  line-height: 0.33rem;
}

#my #personmain .list li .qblue {
  background: #3DBFFD url("../../img/my/5.png") no-repeat;
  background-size: 70%;
  background-position: center;
}

#my #personmain .list li .green {
  background: #2FE7CB url("../../img/my/6.png") no-repeat;
  background-size: 70%;
  background-position: center;
}

#my #personmain .list li .yellow {
  background: #FDCD3D url("../../img/my/8.png") no-repeat;
  background-size: 70%;
  background-position: center;
}

#my #personmain .list .last {
  border: 0;
}

#my #footer {
  background: #141C2D;
  width: 100%;
  height: 1rem;
}

#my #footer .footeran {
  width: 100%;
  height: 1rem;
}

#my #footer .footeran li {
  float: left;
  width: 33.333%;
  height: 100%;
  border-right: 1px solid #6F6F6F;
}

#my #footer .footeran li .icon {
  margin-top: 0.10rem;
  width: 100%;
  height: 50%;
  text-align: center;
  font-family: 'iconfont';
  font-size: 0.46rem;
  color: #777779;
}

#my #footer .footeran li h3 {
  font-weight: normal;
  text-align: center;
  color: #777779;
}

#my #footer .footeran .last .icon {
  color: #FAFAFA;
}

#my #footer .footeran .last h3 {
  color: #FAFAFA;
}

#my #shade {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
}

#my #Sex {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 4.78rem;
  height: 2.95rem;
  background: #FFFFFF;
  z-index: 102;
  border-radius: 0.2rem;
}

#my #Sex .headp {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 100%;
  height: 100%;
}

#my #Sex .headp .first {
  height: 0.72rem;
  background: url("../../img/my/25.png") no-repeat;
  background-position: center bottom;
  background-size: 100%;
  border-radius: 0.2rem 0.2rem 0 0;
}

#my #Sex .headp .first .pers {
  position: absolute;
  top: 0.18rem;
  left: 0.54rem;
  width: 0.36rem;
  height: 0.36rem;
  border-radius: 50%;
  background: #FFFFFF url("../../img/my/34.png") no-repeat;
  background-position: center;
  background-size: 60%;
  text-align: center;
  line-height: 0.36rem;
}

#my #Sex .headp .first h5 {
  position: absolute;
  top: 0.18rem;
  left: 1.04rem;
  font-size: 0.2rem;
  color: #FAFAFA;
  font-weight: normal;
}

#my #Sex .headp .first h6 {
  position: absolute;
  top: 0.4rem;
  left: 1.04rem;
  font-size: 0.11rem;
  color: #D1FEF6;
  font-weight: normal;
}

#my #Sex .headp .three {
  width: 100%;
  height: 1.8rem;
  text-align: center;
}

#my #Sex .headp .three div {
  margin-top: 0.018rem;
}

#my #Sex .headp .three .first {
  background: #FFFFFF;
  height: auto;
  margin-top: 0.39rem;
}

#my #Sex .headp .three .last {
  height: 0.2rem;
  background: #FFFFFF url("../../img/my/33.png") no-repeat;
  background-position: center;
}
