@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
  font-style: normal;
  color: #777779;
  position: relative;
  font-family: "微软雅黑";
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 100px;
}

body {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 170.66667px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 192px;
  }
}

input {
  background: transparent;
  outline: medium;
}

.clear {
  clear: both;
}

body, html {
  width: 100%;
  height: 100%;
  position: relative;
}

/*顶部*/
#myfive a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  color: #FAFAFA;
}

#myfive #persontopintercalate {
  width: 100%;
  height: 1.08rem;
  background: #2BA6DC;
}

#myfive #persontopintercalate .install {
  width: 100%;
  height: 1.08rem;
}

#myfive #persontopintercalate .install li {
  line-height: 1.08rem;
}

#myfive #persontopintercalate .install .left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.24rem;
}

#myfive #persontopintercalate .install .left span {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  border: 3px solid #0F74B5;
  border-radius: 50%;
  background: #FAFAFA url("../../img/my/11.png") no-repeat;
  background-size: 30%;
  background-position: center;
  margin-top: 0.32rem;
}

#myfive #persontopintercalate .install .left span img {
  width: 30%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#myfive #persontopintercalate .install .middle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#myfive #persontopintercalate .install .middle div:nth-of-type(1) {
  line-height: 0.9rem;
  text-align: center;
  height: 50%;
  font-size: 0.35rem;
  color: #FAFAFA;
}

#myfive #persontopintercalate .install .middle div:nth-of-type(2) {
  line-height: 0.2rem;
  text-align: center;
  height: 25%;
  font-size: 0.35rem;
  color: #FAFAFA;
  background: url("../../img/my/1.png") no-repeat;
  background-position: center 52%;
}

#myfive #persontopintercalate .install .middle div:nth-of-type(3) {
  line-height: 0rem;
  text-align: center;
  height: 25%;
  font-size: 0.14rem;
  color: #90DCFF;
}

#myfive #personmain {
  widows: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 1.29rem;
}

#myfive #personmain .list {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 7.02rem;
  height: 3.58rem;
  box-shadow: 0 0 0 5px rgba(236, 236, 236, 0.2);
  border-radius: 0.02rem;
}

#myfive #personmain .list li {
  height: 20%;
}

#myfive #personmain .list li h2 {
  line-height: 0.5rem;
  height: 50%;
  color: #363636;
  font-size: 0.16rem;
}

#myfive #personmain .list li p {
  height: 50%;
  line-height: 0.02rem;
  color: #666666;
  font-size: 0.13rem;
}

#myfive #personmain .list li span {
  margin-left: 0.165rem;
  margin-right: 0.165rem;
  margin-top: 0.27rem;
  float: left;
  display: inline-block;
  width: 0.34rem;
  height: 0.34rem;
  text-align: center;
  line-height: 0.2rem;
  background: url("../../img/my/32.png") no-repeat;
  background-position: center;
  background-size: 80%;
}

#myfive #personmain .list textarea {
  background: transparent;
  outline: medium;
  width: 100%;
  height: 80%;
}

#myfive #quit {
  width: 100%;
  height: 0.7rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 5.6rem;
}

#myfive #quit .quitcon {
  width: 5.64rem;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #29DD8B;
  border-radius: 0.7rem;
  text-align: center;
  line-height: 0.7rem;
  color: #FAFAFA;
  font-size: 0.27rem;
  font-weight: bold;
}

#myfive #quit .quitcon span {
  display: inline-block;
  width: 0.06rem;
  height: 0.06rem;
  background: #FAFAFA;
  border-radius: 50%;
}

#myfive #quit .quitcon .left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.34rem;
}

#myfive #quit .quitcon .right {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.34rem;
}
