@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
  font-style: normal;
  color: #777779;
  position: relative;
  font-family: "微软雅黑";
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 100px;
}

body {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 170.66667px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 192px;
  }
}

input {
  background: transparent;
  outline: medium;
}

.clear {
  clear: both;
}

body, html {
  width: 100%;
  height: 100%;
  position: relative;
}

/*顶部*/
#myfour {
  width: 100%;
  height: 100%;
  position: relative;
}

#myfour a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  color: #FAFAFA;
}

#myfour #persontopintercalate {
  width: 100%;
  height: 1.08rem;
  background: #2BA6DC;
}

#myfour #persontopintercalate .install {
  width: 100%;
  height: 1.08rem;
}

#myfour #persontopintercalate .install li {
  line-height: 1.08rem;
}

#myfour #persontopintercalate .install .left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.24rem;
}

#myfour #persontopintercalate .install .left span {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  border: 3px solid #0F74B5;
  border-radius: 50%;
  background: #FAFAFA;
  margin-top: 0.32rem;
  background: #FAFAFA url("../../img/my/11.png") no-repeat;
  background-size: 30%;
  background-position: center;
}

#myfour #persontopintercalate .install .middle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#myfour #persontopintercalate .install .middle div:nth-of-type(1) {
  line-height: 0.9rem;
  text-align: center;
  height: 50%;
  font-size: 0.35rem;
  color: #FAFAFA;
}

#myfour #persontopintercalate .install .middle div:nth-of-type(2) {
  line-height: 0.2rem;
  text-align: center;
  height: 25%;
  font-size: 0.35rem;
  color: #FAFAFA;
  background: url("../../img/my/1.png") no-repeat;
  background-position: center 52%;
}

#myfour #persontopintercalate .install .middle div:nth-of-type(3) {
  line-height: 0rem;
  text-align: center;
  height: 25%;
  font-size: 0.14rem;
  color: #90DCFF;
}

#myfour #personmain {
  widows: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 1.29rem;
}

#myfour #personmain .list {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 7.02rem;
  height: 3.58rem;
  box-shadow: 0 0 0 5px rgba(236, 236, 236, 0.2);
  border-radius: 0.02rem;
}

#myfour #personmain .list li {
  height: 0.87rem;
  border-bottom: 1px dotted #B8B8B8;
  line-height: 0.87rem;
  font-size: 0.11rem;
}

#myfour #personmain .list li div {
  display: inline-block;
}

#myfour #personmain .list li .lister {
  display: inline-block;
  float: right;
  margin-right: 0.31rem;
  background: url("../../img/my/7.png") no-repeat;
  background-position: right;
}

#myfour #personmain .list li .lister h6 {
  display: inline-block;
  margin-right: 0.11rem;
  color: #3D3D3D;
}

#myfour #personmain .list li .lister .cirty {
  width: 0.88rem;
  height: 0.42rem;
  border: 0.03rem solid #D9E1FF;
  border-radius: 0.42rem;
  margin-right: 0;
}

#myfour #personmain .list li .lister .cirty .cir {
  width: 0.26rem;
  height: 0.26rem;
  border: 0.03rem solid #D9E1FF;
  border-radius: 0.26rem;
  background: #FAFAFA;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.03rem;
}

#myfour #personmain .list li .lister .cirty .cir .smallcir {
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #2FE7CB;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.03rem;
}

#myfour #personmain .list li .weq {
  background: transparent;
}

#myfour #personmain .list li h2 {
  line-height: 0.7rem;
  height: 50%;
  color: #363636;
  font-size: 0.16rem;
}

#myfour #personmain .list li p {
  height: 50%;
  line-height: 0.01rem;
  color: #666666;
}

#myfour #personmain .list li span {
  margin-left: 0.165rem;
  margin-right: 0.165rem;
  margin-top: 0.27rem;
  float: left;
  display: inline-block;
  width: 0.33rem;
  height: 0.33rem;
  background: #3D63FD url("../../img/my/19.png") no-repeat;
  background-size: 60%;
  background-position: center;
  border-radius: 50%;
  text-align: center;
  line-height: 0.33rem;
}

#myfour #personmain .list li .qblue {
  background: #3DFBFD url("../../img/my/21.png") no-repeat;
  background-size: 60%;
  background-position: center;
}

#myfour #personmain .list li .green {
  background: #3DFD9A url("../../img/my/22.png") no-repeat;
  background-size: 60%;
  background-position: center;
}

#myfour #personmain .list li .yellow {
  background: #FDCD3D url("../../img/my/22.png") no-repeat;
  background-size: 60%;
  background-position: center;
}

#myfour #personmain .list .last {
  border: 0;
}

#myfour #personmain1 {
  widows: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 5.1rem;
}

#myfour #personmain1 .list {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 7.02rem;
  height: 3.58rem;
  box-shadow: 0 0 0 5px rgba(236, 236, 236, 0.2);
  border-radius: 0.02rem;
}

#myfour #personmain1 .list li {
  height: 0.87rem;
  border-bottom: 1px dotted #B8B8B8;
  line-height: 0.87rem;
  font-size: 0.11rem;
}

#myfour #personmain1 .list li div {
  display: inline-block;
}

#myfour #personmain1 .list li .lister {
  display: inline-block;
  float: right;
  margin-right: 0.31rem;
  background: url("../../img/my/7.png") no-repeat;
  background-position: right;
}

#myfour #personmain1 .list li .lister h6 {
  display: inline-block;
  margin-right: 0.11rem;
  color: #3D3D3D;
}

#myfour #personmain1 .list li .lister .cirty {
  width: 0.88rem;
  height: 0.42rem;
  border: 0.03rem solid #D9E1FF;
  border-radius: 0.42rem;
  margin-right: 0;
}

#myfour #personmain1 .list li .lister .cirty .cir {
  width: 0.26rem;
  height: 0.26rem;
  border: 0.03rem solid #D9E1FF;
  border-radius: 0.26rem;
  background: #FAFAFA;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.03rem;
}

#myfour #personmain1 .list li .lister .cirty .cir .smallcir {
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #2FE7CB;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.03rem;
}

#myfour #personmain1 .list li .weq {
  background: transparent;
}

#myfour #personmain1 .list li h2 {
  line-height: 0.7rem;
  height: 50%;
  color: #363636;
  font-size: 0.16rem;
}

#myfour #personmain1 .list li p {
  height: 50%;
  line-height: 0.01rem;
  color: #666666;
}

#myfour #personmain1 .list li span {
  margin-left: 0.165rem;
  margin-right: 0.165rem;
  margin-top: 0.27rem;
  float: left;
  display: inline-block;
  width: 0.33rem;
  height: 0.33rem;
  background: #3DFBFD url("../../img/my/23.png") no-repeat;
  background-size: 50%;
  background-position: center;
  border-radius: 50%;
  text-align: center;
  line-height: 0.33rem;
}

#myfour #personmain1 .list li span img {
  width: 50%;
}

#myfour #personmain1 .list li .yellow {
  background: #E1B42E url("../../img/my/24.png") no-repeat;
  background-size: 50%;
  background-position: center;
}

#myfour #personmain1 .list .last {
  border: 0;
}

#myfour #shade {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
}

#myfour #Headportrait {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 4.78rem;
  height: 2.95rem;
  background: #FFFFFF;
  z-index: 11;
  border-radius: 0.2rem;
  z-index: 102;
}

#myfour #Headportrait .headp {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 100%;
  height: 100%;
}

#myfour #Headportrait .headp .first {
  height: 0.72rem;
  background: url("../../img/my/25.png") no-repeat;
  background-position: center bottom;
  background-size: 100%;
  border-radius: 0.2rem 0.2rem 0 0;
}

#myfour #Headportrait .headp .first .pers {
  position: absolute;
  top: 0.18rem;
  left: 0.54rem;
  width: 0.36rem;
  height: 0.36rem;
  border-radius: 50%;
  background: #FFFFFF url("../../img/my/28.png") no-repeat;
  background-position: center;
  background-size: 60%;
  text-align: center;
  line-height: 0.36rem;
}

#myfour #Headportrait .headp .first h5 {
  position: absolute;
  top: 0.18rem;
  left: 1.04rem;
  font-size: 0.2rem;
  color: #FAFAFA;
  font-weight: normal;
}

#myfour #Headportrait .headp .first h6 {
  position: absolute;
  top: 0.4rem;
  left: 1.04rem;
  font-size: 0.11rem;
  color: #D1FEF6;
  font-weight: normal;
}

#myfour #Headportrait .headp .second {
  width: 100%;
  height: 0.9rem;
  border-bottom: 1px dotted #999999;
}

#myfour #Headportrait .headp .second div {
  display: inline-block;
}

#myfour #Headportrait .headp .second h2 {
  line-height: 0.7rem;
  height: 50%;
  color: #363636;
  font-size: 0.22rem;
}

#myfour #Headportrait .headp .second p {
  height: 50%;
  line-height: 0.01rem;
  color: #666666;
  font-size: 0.13rem;
}

#myfour #Headportrait .headp .second span {
  margin-left: 0.165rem;
  margin-right: 0.165rem;
  margin-top: 0.3rem;
  float: left;
  display: inline-block;
  width: 0.33rem;
  height: 0.33rem;
  background: #34FC87 url("../../img/my/26.png") no-repeat;
  background-position: center;
  background-size: 60%;
  border-radius: 50%;
  text-align: center;
  line-height: 0.33rem;
}

#myfour #Headportrait .headp .three {
  width: 100%;
  height: 0.9rem;
}

#myfour #Headportrait .headp .three div {
  display: inline-block;
}

#myfour #Headportrait .headp .three h2 {
  line-height: 0.7rem;
  height: 50%;
  color: #363636;
  font-size: 0.22rem;
}

#myfour #Headportrait .headp .three p {
  height: 50%;
  line-height: 0.01rem;
  color: #666666;
  font-size: 0.13rem;
}

#myfour #Headportrait .headp .three span {
  margin-left: 0.165rem;
  margin-right: 0.165rem;
  margin-top: 0.3rem;
  float: left;
  display: inline-block;
  width: 0.33rem;
  height: 0.33rem;
  border-radius: 50%;
  text-align: center;
  line-height: 0.33rem;
}

#myfour #Headportrait .headp .three .yellow {
  background: #34D3FC url("../../img/my/27.png") no-repeat;
  background-position: center;
  background-size: 60%;
}

#myfour #Headportrait .Notrue {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -0.31rem;
  width: 2.53rem;
  height: 0.65rem;
  background: #2BDCBC;
  border-radius: 0.65rem;
  text-align: center;
  line-height: 0.65rem;
  font-size: 0.21rem;
  color: #FAFAFA;
}

#myfour #Sex {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 4.78rem;
  height: 2.95rem;
  background: #FFFFFF;
  z-index: 102;
  border-radius: 0.2rem;
}

#myfour #Sex .headp {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 100%;
  height: 100%;
}

#myfour #Sex .headp .first {
  height: 0.72rem;
  background: url("../../img/my/25.png") no-repeat;
  background-position: center bottom;
  background-size: 100%;
  border-radius: 0.2rem 0.2rem 0 0;
}

#myfour #Sex .headp .first .pers {
  position: absolute;
  top: 0.18rem;
  left: 0.54rem;
  width: 0.36rem;
  height: 0.36rem;
  border-radius: 50%;
  background: #FFFFFF url("../../img/my/30.png") no-repeat;
  background-position: center;
  background-size: 60%;
  text-align: center;
  line-height: 0.36rem;
}

#myfour #Sex .headp .first h5 {
  position: absolute;
  top: 0.18rem;
  left: 1.04rem;
  font-size: 0.2rem;
  color: #FAFAFA;
  font-weight: normal;
}

#myfour #Sex .headp .first h6 {
  position: absolute;
  top: 0.4rem;
  left: 1.04rem;
  font-size: 0.11rem;
  color: #D1FEF6;
  font-weight: normal;
}

#myfour #Sex .headp .three {
  width: 100%;
  height: 1.8rem;
}

#myfour #Sex .headp .three span {
  display: inline-block;
  width: 0.66rem;
  height: 0.66rem;
  border-radius: 50%;
  background: #FFFFFF url("../../img/my/29.png") no-repeat;
  background-position: center;
  background-size: 60%;
  box-shadow: 0 0 0 5px rgba(236, 236, 236, 0.5);
  text-align: center;
  line-height: 0.66rem;
}

#myfour #Sex .headp .three span:nth-of-type(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 1.09rem;
}

#myfour #Sex .headp .three span:nth-of-type(2) {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 1.09rem;
  background: #2BDCBC url("../../img/my/31.png") no-repeat;
  background-position: center;
  background-size: 60%;
}

#myfour #Sex .Notrue {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -0.31rem;
  width: 2.53rem;
  height: 0.65rem;
  background: #2BDCBC;
  border-radius: 0.65rem;
  text-align: center;
  line-height: 0.65rem;
  font-size: 0.21rem;
  color: #FAFAFA;
}
