@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
  font-style: normal;
  color: #777779;
  position: relative;
  font-family: "微软雅黑";
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 100px;
}

body {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 170.66667px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 192px;
  }
}

input {
  background: transparent;
  outline: medium;
}

.clear {
  clear: both;
}

body {
  background: #FAFAFA;
}

body, html {
  width: 100%;
  height: 100%;
  position: relative;
}

/*顶部*/
#myone {
  width: 100%;
  height: 100%;
  position: relative;
}

#myone .moveleft {
  transform: translateX(-0.48rem);
}

#myone .smoveleft {
  transform: translateX(-0.009rem);
}

#myone a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  color: #FAFAFA;
}

#myone .greenzi {
  color: #29DD8B;
}

#myone #persontopintercalate {
  width: 100%;
  height: 1.08rem;
  background: #2BA6DC;
}

#myone #persontopintercalate .install {
  width: 100%;
  height: 1.08rem;
}

#myone #persontopintercalate .install li {
  line-height: 1.08rem;
}

#myone #persontopintercalate .install .left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.24rem;
}

#myone #persontopintercalate .install .left span {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  border: 3px solid #0F74B5;
  border-radius: 50%;
  background: #FAFAFA url("../../img/my/11.png") no-repeat;
  background-size: 30%;
  background-position: center;
  margin-top: 0.32rem;
}

#myone #persontopintercalate .install .middle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#myone #persontopintercalate .install .middle div:nth-of-type(1) {
  line-height: 0.9rem;
  text-align: center;
  height: 50%;
  font-size: 0.35rem;
  color: #FAFAFA;
}

#myone #persontopintercalate .install .middle div:nth-of-type(2) {
  line-height: 0.2rem;
  text-align: center;
  height: 25%;
  font-size: 0.35rem;
  color: #FAFAFA;
  background: url("../../img/my/1.png") no-repeat;
  background-position: center 52%;
}

#myone #persontopintercalate .install .middle div:nth-of-type(3) {
  line-height: 0rem;
  text-align: center;
  height: 25%;
  font-size: 0.14rem;
  color: #90DCFF;
}

#myone #persontopintercalate .install .right {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.24rem;
}

#myone #persontopintercalate .install .right span {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  border: 3px solid #0F74B5;
  border-radius: 50%;
  background: #FAFAFA url("../../img/my/10.png") no-repeat;
  background-size: 70%;
  background-position: center;
  margin-top: 0.32rem;
}

#myone #personmain {
  widows: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 1.29rem;
}

#myone #personmain .list {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 7.02rem;
  height: 3.58rem;
  box-shadow: 0 0 0 5px rgba(236, 236, 236, 0.2);
  border-radius: 0.02rem;
}

#myone #personmain .list li {
  height: 0.87rem;
  border-bottom: 1px dotted #B8B8B8;
  line-height: 0.87rem;
  font-size: 0.11rem;
}

#myone #personmain .list li div {
  display: inline-block;
}

#myone #personmain .list li .lister {
  display: inline-block;
  float: right;
  margin-right: 0.31rem;
  background: url("../../img/my/7.png") no-repeat;
  background-position: right;
}

#myone #personmain .list li .lister h6 {
  display: inline-block;
  margin-right: 0.3rem;
  color: #3D3D3D;
}

#myone #personmain .list li .lister .cirty {
  width: 0.88rem;
  height: 0.42rem;
  border: 0.03rem solid #D9E1FF;
  border-radius: 0.42rem;
  margin-right: 0;
}

#myone #personmain .list li .lister .cirty .cir {
  width: 0.26rem;
  height: 0.26rem;
  border: 0.03rem solid #D9E1FF;
  border-radius: 0.26rem;
  background: #FAFAFA;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.03rem;
}

#myone #personmain .list li .lister .cirty .cir .smallcir {
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #2FE7CB;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.03rem;
}

#myone #personmain .list li h2 {
  line-height: 0.7rem;
  height: 50%;
  color: #363636;
  font-size: 0.16rem;
}

#myone #personmain .list li p {
  height: 50%;
  line-height: 0.01rem;
  color: #666666;
}

#myone #personmain .list li span {
  margin-left: 0.165rem;
  margin-right: 0.165rem;
  margin-top: 0.27rem;
  float: left;
  display: inline-block;
  width: 0.33rem;
  height: 0.33rem;
  background: #3D63FD url("../../img/my/12.png") no-repeat;
  background-size: 70%;
  background-position: center;
  border-radius: 50%;
  text-align: center;
  line-height: 0.33rem;
}

#myone #personmain .list li #xixw {
  background: transparent;
}

#myone #personmain .list li #xixw span {
  background: transparent;
}

#myone #personmain .list li #xixw .cirty {
  width: 0.88rem;
  height: 0.42rem;
  border: 0.03rem solid #D9E1FF;
  border-radius: 0.42rem;
  margin-right: 0;
  background: #3D91FD;
}

#myone #personmain .list li #xixw .cirty .cir {
  width: 0.26rem;
  height: 0.26rem;
  border: 0.03rem solid #D9E1FF;
  border-radius: 0.26rem;
  background: #FAFAFA;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.03rem;
}

#myone #personmain .list li #xixw .cirty .cir .smallcir {
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #2FE7CB;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.03rem;
}

#myone #personmain .list li .qblue {
  background: #3DBFFD url("../../img/my/13.png") no-repeat;
  background-size: 70%;
  background-position: center;
}

#myone #personmain .list li .green {
  background: #2FE7CB url("../../img/my/14.png") no-repeat;
  background-size: 70%;
  background-position: center;
}

#myone #personmain .list li .yellow {
  background: #FDCD3D url("../../img/my/15.png") no-repeat;
  background-size: 70%;
  background-position: center;
}

#myone #personmain .list .last {
  border: 0;
}

#myone #quit {
  width: 100%;
  height: 0.7rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11.49rem;
}

#myone #quit .quitcon {
  width: 5.64rem;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #29DD8B;
  border-radius: 0.7rem;
  text-align: center;
  line-height: 0.7rem;
  color: #FAFAFA;
  font-size: 0.27rem;
  font-weight: bold;
}

#myone #quit .quitcon span {
  display: inline-block;
  width: 0.06rem;
  height: 0.06rem;
  background: #FAFAFA;
  border-radius: 50%;
}

#myone #quit .quitcon .left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.34rem;
}

#myone #quit .quitcon .right {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.34rem;
}

#myone #shade {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
}

#myone #Headportrait {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 4.78rem;
  height: 5.61rem;
  background: #FFFFFF;
  z-index: 102;
  border-radius: 0.2rem;
}

#myone #Headportrait .headp {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 100%;
  height: 100%;
}

#myone #Headportrait .headp .first {
  height: 0.72rem;
  background: url("../../img/my/25.png") no-repeat;
  background-position: center bottom;
  background-size: 100%;
  border-radius: 0.2rem 0.2rem 0 0;
}

#myone #Headportrait .headp .first .pers {
  position: absolute;
  top: 0.18rem;
  left: 0.54rem;
  width: 0.36rem;
  height: 0.36rem;
  border-radius: 50%;
  background: #FFFFFF url("../../img/my/28.png") no-repeat;
  background-position: center;
  background-size: 60%;
  text-align: center;
  line-height: 0.36rem;
}

#myone #Headportrait .headp .first h5 {
  position: absolute;
  top: 0.18rem;
  left: 1.04rem;
  font-size: 0.2rem;
  color: #FAFAFA;
  font-weight: normal;
}

#myone #Headportrait .headp .first h6 {
  position: absolute;
  top: 0.4rem;
  left: 1.04rem;
  font-size: 0.11rem;
  color: #D1FEF6;
  font-weight: normal;
}

#myone #Headportrait .headp .second {
  margin: 0 auto;
  width: 4.34rem;
  height: 0.9rem;
  border-bottom: 1px dotted #999999;
}

#myone #Headportrait .headp .second .leftd {
  margin-left: 0.15rem;
  display: inline-block;
}

#myone #Headportrait .headp .second .rightd {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.15rem;
  line-height: 0.9rem;
  text-align: center;
}

#myone #Headportrait .headp .second .rightd span {
  margin: 0;
  margin-top: 0.3rem;
  width: 0.3rem;
  height: 0.3rem;
  border: 1px solid #30DDBE;
  border-radius: 50%;
  background: transparent;
}

#myone #Headportrait .headp .second h2 {
  line-height: 0.7rem;
  height: 50%;
  color: #363636;
  font-size: 0.22rem;
}

#myone #Headportrait .headp .second p {
  height: 50%;
  line-height: 0.01rem;
  color: #666666;
  font-size: 0.13rem;
}

#myone #Headportrait .headp .second span {
  margin-left: 0.165rem;
  margin-right: 0.165rem;
  margin-top: 0.3rem;
  float: left;
  display: inline-block;
  width: 0.33rem;
  height: 0.33rem;
  background: #34FC87;
  border-radius: 50%;
  text-align: center;
  line-height: 0.33rem;
}

#myone #Headportrait .headp .second span img {
  width: 50%;
}

#myone #Headportrait .headp .second .yellow {
  background: #E1B42E;
}

#myone #Headportrait .headp .three {
  width: 100%;
  height: 1.49rem;
}

#myone #Headportrait .headp .three span {
  display: inline-block;
  width: 1.95rem;
  height: 0.58rem;
  text-align: center;
  line-height: 0.58rem;
  border-radius: 0.58rem;
  background: #29DD8B;
}

#myone #Headportrait .headp .three .left {
  background: #FAFAFA;
  border: 1px solid #29DD8B;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.15rem;
  color: #29DD8B;
  font-size: 0.25rem;
  text-align: center;
}

#myone #Headportrait .headp .three .left .cirl {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.24rem;
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #29DD8B;
}

#myone #Headportrait .headp .three .left .cirr {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.24rem;
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #29DD8B;
}

#myone #Headportrait .headp .three .right {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.15rem;
  font-size: 0.25rem;
  text-align: center;
  color: #FAFAFA;
}

#myone #Headportrait .headp .three .right .cirl {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.24rem;
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #FAFAFA;
}

#myone #Headportrait .headp .three .right .cirr {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.24rem;
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #FAFAFA;
}

#myone #Headportrait .headp .dx .rightd span .cir {
  margin: 0 auto;
  width: 0.14rem;
  height: 0.14rem;
  background: #51E2C8;
  border-radius: 50%;
  margin-top: 0.055rem;
  margin-left: 0.055rem;
}

#myone #Sex {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 4.78rem;
  height: 5.61rem;
  background: #FFFFFF;
  z-index: 102;
  border-radius: 0.2rem;
}

#myone #Sex .headp {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 100%;
  height: 100%;
}

#myone #Sex .headp .first {
  height: 0.72rem;
  background: url("../../img/my/25.png") no-repeat;
  background-position: center bottom;
  background-size: 100%;
  border-radius: 0.2rem 0.2rem 0 0;
}

#myone #Sex .headp .first .leftd {
  width: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.15rem;
}

#myone #Sex .headp .first .leftd .pers {
  position: absolute;
  top: 0.18rem;
  left: 0.54rem;
  width: 0.36rem;
  height: 0.36rem;
  border-radius: 50%;
  background: #FFFFFF url("../../img/my/35.png") no-repeat;
  background-position: center;
  background-size: 60%;
  text-align: center;
  line-height: 0.36rem;
}

#myone #Sex .headp .first .leftd h5 {
  position: absolute;
  top: 0.18rem;
  left: 1.04rem;
  font-size: 0.2rem;
  color: #FAFAFA;
  font-weight: normal;
}

#myone #Sex .headp .first .leftd h6 {
  position: absolute;
  top: 0.4rem;
  left: 1.04rem;
  font-size: 0.11rem;
  color: #D1FEF6;
  font-weight: normal;
}

#myone #Sex .headp .first .rightd {
  width: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.015rem;
  line-height: 0.9rem;
  text-align: center;
}

#myone #Sex .headp .first .rightd span {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  border: 1px solid #FAFAFA;
  border-radius: 50%;
}

#myone #Sex .headp .first .rightd span .cir {
  margin: 0 auto;
  width: 0.2rem;
  height: 0.2rem;
  background: #FAFAFA;
  border-radius: 50%;
  margin-top: 0.025rem;
  margin-left: 0.025rem;
}

#myone #Sex .headp .first .rightd .xz {
  color: #FAFAFA;
  font-size: 0.14rem;
  width: auto;
  height: auto;
  border: 0;
}

#myone #Sex .headp .second {
  margin: 0 auto;
  width: 4.34rem;
  height: 0.9rem;
  border-bottom: 1px dotted #999999;
}

#myone #Sex .headp .second .leftd {
  margin-left: 0.15rem;
  display: inline-block;
}

#myone #Sex .headp .second .rightd {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.15rem;
  line-height: 0.9rem;
  text-align: center;
}

#myone #Sex .headp .second .rightd span {
  margin: 0;
  margin-top: 0.3rem;
  width: 0.3rem;
  height: 0.3rem;
  border: 1px solid #30DDBE;
  border-radius: 50%;
  background: transparent;
}

#myone #Sex .headp .second h2 {
  line-height: 0.7rem;
  height: 50%;
  color: #363636;
  font-size: 0.22rem;
}

#myone #Sex .headp .second p {
  height: 50%;
  line-height: 0.01rem;
  color: #666666;
  font-size: 0.13rem;
}

#myone #Sex .headp .second span {
  margin-left: 0.165rem;
  margin-right: 0.165rem;
  margin-top: 0.3rem;
  float: left;
  display: inline-block;
  width: 0.33rem;
  height: 0.33rem;
  background: #34FC87;
  border-radius: 50%;
  text-align: center;
  line-height: 0.33rem;
}

#myone #Sex .headp .second span img {
  width: 50%;
}

#myone #Sex .headp .second .yellow {
  background: #E1B42E;
}

#myone #Sex .headp .three {
  width: 100%;
  height: 1.49rem;
}

#myone #Sex .headp .three span {
  display: inline-block;
  width: 1.95rem;
  height: 0.58rem;
  text-align: center;
  line-height: 0.58rem;
  border-radius: 0.58rem;
  background: #29DD8B;
}

#myone #Sex .headp .three .left {
  background: #FAFAFA;
  border: 1px solid #29DD8B;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.15rem;
  color: #29DD8B;
  font-size: 0.25rem;
  text-align: center;
}

#myone #Sex .headp .three .left .cirl {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.24rem;
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #29DD8B;
}

#myone #Sex .headp .three .left .cirr {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.24rem;
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #29DD8B;
}

#myone #Sex .headp .three .right {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.15rem;
  font-size: 0.25rem;
  text-align: center;
  color: #FAFAFA;
}

#myone #Sex .headp .three .right .cirl {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.24rem;
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #FAFAFA;
}

#myone #Sex .headp .three .right .cirr {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.24rem;
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #FAFAFA;
}

#myone #Sex .headp .dx .rightd span .cir {
  margin: 0 auto;
  width: 0.14rem;
  height: 0.14rem;
  background: #51E2C8;
  border-radius: 50%;
  margin-top: 0.055rem;
  margin-left: 0.055rem;
}
