@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
  font-style: normal;
  color: #777779;
  position: relative;
  font-family: "微软雅黑";
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 100px;
}

body {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 170.66667px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 192px;
  }
}

input {
  background: transparent;
  outline: medium;
}

.clear {
  clear: both;
}

body, html {
  width: 100%;
  height: 100%;
  position: relative;
}

/*顶部*/
#mysix a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
}

#mysix #persontopintercalate {
  width: 100%;
  height: 1.08rem;
  background: #2BA6DC;
}

#mysix #persontopintercalate .install {
  width: 100%;
  height: 1.08rem;
}

#mysix #persontopintercalate .install li {
  line-height: 1.08rem;
}

#mysix #persontopintercalate .install .left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.24rem;
}

#mysix #persontopintercalate .install .left span {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  border: 3px solid #0F74B5;
  border-radius: 50%;
  background: #FAFAFA url("../../img/my/11.png") no-repeat;
  background-size: 30%;
  background-position: center;
  margin-top: 0.32rem;
}

#mysix #persontopintercalate .install .middle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#mysix #persontopintercalate .install .middle div:nth-of-type(1) {
  line-height: 0.9rem;
  text-align: center;
  height: 50%;
  font-size: 0.35rem;
  color: #FAFAFA;
}

#mysix #persontopintercalate .install .middle div:nth-of-type(2) {
  line-height: 0.2rem;
  text-align: center;
  height: 25%;
  font-size: 0.35rem;
  color: #FAFAFA;
  background: url("../../img/my/1.png") no-repeat;
  background-position: center 52%;
}

#mysix #persontopintercalate .install .middle div:nth-of-type(3) {
  line-height: 0rem;
  text-align: center;
  height: 25%;
  font-size: 0.14rem;
  color: #90DCFF;
}

#mysix #personmain {
  z-index: 10;
  widows: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 1.29rem;
}

#mysix #personmain .cirl {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0rem;
  width: 7.28rem;
  height: 0.1rem;
  background: #D5D5D5;
  border-radius: 0.1rem;
  z-index: 1;
}

#mysix #personmain .list {
  background: #FAFAFA;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0.05rem;
  width: 7.02rem;
  height: 7.45rem;
  box-shadow: 0 0 0 5px rgba(236, 236, 236, 0.2);
  border-radius: 0.02rem;
}

#mysix #personmain .list li {
  color: #666666;
  width: 5.5rem;
  margin: 0 auto;
  margin-bottom: 0.51rem;
}

#mysix #personmain .list .first {
  text-align: center;
  margin-top: 0.39rem;
  margin-bottom: 0.65rem;
}

#mysix #personmain .list .first h2 {
  font-weight: normal;
}
