@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
  font-style: normal;
  color: #777779;
  position: relative;
  font-family: "微软雅黑";
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 100px;
}

body {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 170.66667px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 192px;
  }
}

input {
  background: transparent;
  outline: medium;
}

.clear {
  clear: both;
}

body, html {
  width: 100%;
  height: 100%;
  position: relative;
}

/*顶部*/
#mythree a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  color: #FAFAFA;
}

#mythree #persontopintercalate {
  width: 100%;
  height: 1.08rem;
  background: #2BA6DC;
}

#mythree #persontopintercalate .install {
  width: 100%;
  height: 1.08rem;
}

#mythree #persontopintercalate .install li {
  line-height: 1.08rem;
}

#mythree #persontopintercalate .install .left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.24rem;
}

#mythree #persontopintercalate .install .left span {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  border: 3px solid #0F74B5;
  border-radius: 50%;
  background: #FAFAFA url("../../img/my/11.png") no-repeat;
  background-size: 30%;
  background-position: center;
  margin-top: 0.32rem;
}

#mythree #persontopintercalate .install .middle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#mythree #persontopintercalate .install .middle div:nth-of-type(1) {
  line-height: 1rem;
  text-align: center;
  height: 50%;
  font-size: 0.35rem;
  color: #FAFAFA;
}

#mythree #persontopintercalate .install .middle div:nth-of-type(2) {
  line-height: 0.2rem;
  text-align: center;
  height: 25%;
  font-size: 0.35rem;
  color: #FAFAFA;
  background: url("../../img/my/1.png") no-repeat;
  background-position: center 52%;
}

#mythree #persontopintercalate .install .middle div:nth-of-type(3) {
  line-height: 0rem;
  text-align: center;
  height: 25%;
  font-size: 0.14rem;
  color: #90DCFF;
}

#mythree #personxxk {
  widows: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 1.29rem;
  text-align: center;
}

#mythree #personxxk .xxkz {
  margin: 0 auto;
  width: 5.71rem;
  background: #2C3744;
  height: 0.84rem;
  border-radius: 0.84rem;
}

#mythree #personxxk .xxkz .bg {
  width: 2.39rem;
  height: 0.68rem;
  background: #2BA6DC;
  border: 1px solid #FAFAFA;
  border-radius: 0.68rem;
  font-size: 0.05rem;
}

#mythree #personxxk .xxkz .bg span {
  display: inline-block;
  border: 1px solid #3D3D3D;
  border-radius: 1rem;
  margin-top: 0.13rem;
}

#mythree #personxxk .xxkz .bg .cirz {
  background: #2BA6DC;
  border: 0;
  color: #FAFAFA;
  font-size: 0.15rem;
}

#mythree #personxxk .xxkz .bg .cirz .cirl1 {
  margin-bottom: 0.03rem;
  width: 0.04rem;
  height: 0.04rem;
  border-radius: 50%;
  background: #FAFAFA;
  padding: 0;
  border: 0;
}

#mythree #personxxk .xxkz .bg .cirz .cirl2 {
  margin-bottom: 0.03rem;
  width: 0.04rem;
  height: 0.04rem;
  border-radius: 50%;
  background: #FAFAFA;
  padding: 0;
  border: 0;
}

#mythree #personxxk .xxkz .bg .cirz .cirr1 {
  margin-bottom: 0.03rem;
  width: 0.04rem;
  height: 0.04rem;
  border-radius: 50%;
  background: #FAFAFA;
  padding: 0;
  border: 0;
}

#mythree #personxxk .xxkz .bg .cirz .cirr2 {
  margin-bottom: 0.03rem;
  width: 0.04rem;
  height: 0.04rem;
  border-radius: 50%;
  background: #FAFAFA;
  padding: 0;
  border: 0;
}

#mythree #personxxk .xxkz .bg .Ewenzi {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0.02rem;
  color: #96CDE5;
  font-size: 0.03rem;
  border: 0;
}

#mythree #personxxk .xxkz .bg span {
  display: inline-block;
  border: 1px solid #3D3D3D;
  border-radius: 1rem;
  margin-top: 0.13rem;
}

#mythree #personxxk .xxkz .bg .cirz {
  border: 0;
  color: #FAFAFA;
  font-size: 0.15rem;
}

#mythree #personxxk .xxkz .bg .cirz .cirl1 {
  margin-bottom: 0.03rem;
  width: 0.04rem;
  height: 0.04rem;
  border-radius: 50%;
  background: #FAFAFA;
  padding: 0;
  border: 0;
}

#mythree #personxxk .xxkz .bg .cirz .cirl2 {
  margin-bottom: 0.03rem;
  width: 0.04rem;
  height: 0.04rem;
  border-radius: 50%;
  background: #FAFAFA;
  padding: 0;
  border: 0;
}

#mythree #personxxk .xxkz .bg .cirz .cirr1 {
  margin-bottom: 0.03rem;
  width: 0.04rem;
  height: 0.04rem;
  border-radius: 50%;
  background: #FAFAFA;
  padding: 0;
  border: 0;
}

#mythree #personxxk .xxkz .bg .cirz .cirr2 {
  margin-bottom: 0.03rem;
  width: 0.04rem;
  height: 0.04rem;
  border-radius: 50%;
  background: #FAFAFA;
  padding: 0;
  border: 0;
}

#mythree #personxxk .xxkz .bg .Ewenzi {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0.02rem;
  color: #96CDE5;
  font-size: 0.03rem;
  border: 0;
}

#mythree #personxxk .xxkz .left {
  margin-top: 0.08rem;
  float: left;
  margin-left: 0.08rem;
  width: 2.39rem;
  height: 0.68rem;
  border-radius: 0.68rem;
  font-size: 0.05rem;
}

#mythree #personxxk .xxkz .left span {
  color: #FAFAFA;
  font-size: 0.15rem;
  display: inline-block;
  border-radius: 1rem;
  margin-top: 0.13rem;
}

#mythree #personxxk .xxkz .left .Ewenzi {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0.02rem;
  color: #96CDE5;
  font-size: 0.03rem;
  border: 0;
}

#mythree #personxxk .xxkz .middle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 0.84rem;
  background: url("../../img/my/16.png") no-repeat;
  background-size: 0.5%;
  background-position: center;
}

#mythree #personxxk .xxkz .right {
  margin-top: 0.08rem;
  float: right;
  margin-right: 0.08rem;
  width: 2.39rem;
  height: 0.68rem;
  border-radius: 0.68rem;
  font-size: 0.05rem;
}

#mythree #personxxk .xxkz .right span {
  color: #FAFAFA;
  font-size: 0.15rem;
  display: inline-block;
  border-radius: 1rem;
  margin-top: 0.13rem;
}

#mythree #personxxk .xxkz .right .Ewenzi {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0.02rem;
  color: #96CDE5;
  font-size: 0.03rem;
  border: 0;
}

#mythree #personmainl {
  display: block;
  widows: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.55rem;
}

#mythree #personmainl .list {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 7.02rem;
  height: 6.17rem;
  box-shadow: 0 0 0 5px rgba(236, 236, 236, 0.2);
  border-radius: 2px;
}

#mythree #personmainl .list li {
  height: 0.87rem;
  border-bottom: 1px dotted #B8B8B8;
  line-height: 0.87rem;
  font-size: 11px;
}

#mythree #personmainl .list li div {
  display: inline-block;
}

#mythree #personmainl .list li .lister {
  display: inline-block;
  float: right;
  margin-right: 0.31rem;
  background: url("../../img/my/7.png") no-repeat;
  background-position: right;
}

#mythree #personmainl .list li .lister h6 {
  display: inline-block;
  margin-right: 0.3rem;
  color: #3D3D3D;
}

#mythree #personmainl .list li .lister .cirty {
  width: 0.88rem;
  height: 0.42rem;
  border: 0.03rem solid #D9E1FF;
  border-radius: 0.42rem;
  margin-right: 0;
}

#mythree #personmainl .list li .lister .cirty .cir {
  width: 0.26rem;
  height: 0.26rem;
  border: 0.03rem solid #D9E1FF;
  border-radius: 0.26rem;
  background: #FAFAFA;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.03rem;
}

#mythree #personmainl .list li .lister .cirty .cir .smallcir {
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #2FE7CB;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.03rem;
}

#mythree #personmainl .list li h2 {
  line-height: 0.7rem;
  height: 50%;
  color: #363636;
  font-size: 0.16rem;
}

#mythree #personmainl .list li p {
  height: 50%;
  line-height: 0.01rem;
  color: #666666;
}

#mythree #personmainl .list li span {
  margin-left: 0.165rem;
  margin-right: 0.165rem;
  margin-top: 0.27rem;
  float: left;
  display: inline-block;
  width: 0.33rem;
  height: 0.33rem;
  background: #FDCD3D url("../../img/my/17.png") no-repeat;
  background-size: 70%;
  background-position: center;
  border-radius: 50%;
  text-align: center;
  line-height: 0.33rem;
}

#mythree #personmainl .list li .qblue {
  background: #FDCD3D url("../../img/my/17.png") no-repeat;
  background-size: 70%;
  background-position: center;
}

#mythree #personmainl .list li .green {
  background: #FDCD3D url("../../img/my/17.png") no-repeat;
  background-size: 70%;
  background-position: center;
}

#mythree #personmainl .list li .yellow {
  background: #FDCD3D url("../../img/my/17.png") no-repeat;
  background-size: 70%;
  background-position: center;
}

#mythree #personmainl .list .last {
  border: 0;
}

#mythree #personmainr {
  display: none;
  widows: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.55rem;
}

#mythree #personmainr .list {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 7.02rem;
  height: 5.61rem;
  box-shadow: 0 0 0 5px rgba(236, 236, 236, 0.2);
  border-radius: 2px;
}

#mythree #personmainr .list li {
  height: 1.4rem;
  border-bottom: 1px dotted #B8B8B8;
  line-height: 0.87rem;
  font-size: 0.11rem;
}

#mythree #personmainr .list li div {
  position: absolute;
  display: inline-block;
}

#mythree #personmainr .list li .lister {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0.039rem;
  margin-right: 0.31rem;
  padding-left: 0.4rem;
  background: url("../../img/my/20.png") no-repeat;
  background-position: left;
}

#mythree #personmainr .list li .lister h6 {
  display: inline-block;
  color: #666666;
}

#mythree #personmainr .list li h2 {
  line-height: 0.6rem;
  height: 50%;
  color: #363636;
  font-size: 0.16rem;
}

#mythree #personmainr .list li p {
  margin-top: -0.1rem;
  height: 25%;
  line-height: 0.19rem;
  color: #666666;
  margin-bottom: 0.2rem;
  font-size: 0.1rem;
}

#mythree #personmainr .list li span {
  margin-left: 0.165rem;
  margin-right: 0.165rem;
  margin-top: 0.27rem;
  float: left;
  display: inline-block;
  width: 0.68rem;
  height: 0.68rem;
  background: #3D63FD;
  border-radius: 50%;
  text-align: center;
  line-height: 0.68rem;
  background: #FAFAFA url("../../img/my/18.png") no-repeat;
  background-size: 100%;
  background-position: center;
}

#mythree #personmainr .list .last {
  border: 0;
}
