@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
  font-style: normal;
  color: #777779;
  position: relative;
  font-family: "微软雅黑";
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 100px;
}

body {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 170.66667px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 192px;
  }
}

input {
  background: transparent;
  outline: medium;
}

.clear {
  clear: both;
}

body, html {
  width: 100%;
  height: 100%;
  position: relative;
}

/*顶部*/
#mytwo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  color: #FAFAFA;
}

#mytwo #persontopintercalate {
  width: 100%;
  height: 1.08rem;
  background: #2BA6DC;
}

#mytwo #persontopintercalate .install {
  width: 100%;
  height: 1.08rem;
}

#mytwo #persontopintercalate .install li {
  line-height: 1.08rem;
}

#mytwo #persontopintercalate .install .left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.24rem;
}

#mytwo #persontopintercalate .install .left span {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  border: 3px solid #0F74B5;
  border-radius: 50%;
  background: #FAFAFA url("../../img/my/11.png") no-repeat;
  background-size: 30%;
  background-position: center;
  margin-top: 0.32rem;
}

#mytwo #persontopintercalate .install .middle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#mytwo #persontopintercalate .install .middle div:nth-of-type(1) {
  line-height: 1rem;
  text-align: center;
  height: 50%;
  font-size: 0.35rem;
  color: #FAFAFA;
}

#mytwo #persontopintercalate .install .middle div:nth-of-type(2) {
  line-height: 0.2rem;
  text-align: center;
  height: 25%;
  font-size: 0.35rem;
  color: #FAFAFA;
  background: url("../../img/my/1.png") no-repeat;
  background-position: center 52%;
}

#mytwo #persontopintercalate .install .middle div:nth-of-type(3) {
  line-height: 0rem;
  text-align: center;
  height: 25%;
  font-size: 0.14rem;
  color: #90DCFF;
}

#mytwo #personbody {
  width: 100%;
  height: auto;
}

#mytwo #personbody .line {
  margin-top: 1.54rem;
  width: 100%;
  height: auto;
}

#mytwo #personbody .line li {
  height: 1rem;
  width: 100%;
  text-align: center;
  padding-bottom: 0.51rem;
}

#mytwo #personbody .line li span {
  display: inline-block;
  border: 1px solid #3D3D3D;
  border-radius: 1rem;
  padding-left: 0.35rem;
  padding-top: 0.16rem;
  padding-right: 0.35rem;
  padding-bottom: 0.16rem;
}

#mytwo #personbody .line li .cirz {
  background: #2BA6DC;
  border: 0;
  color: #FAFAFA;
  font-size: 0.15rem;
}

#mytwo #personbody .line li .cirz .cirl1 {
  margin-bottom: 0.03rem;
  width: 0.04rem;
  height: 0.04rem;
  border-radius: 50%;
  background: #FAFAFA;
  padding: 0;
  border: 0;
}

#mytwo #personbody .line li .cirz .cirl2 {
  margin-bottom: 0.03rem;
  width: 0.04rem;
  height: 0.04rem;
  border-radius: 50%;
  background: #FAFAFA;
  padding: 0;
  border: 0;
}

#mytwo #personbody .line li .cirz .cirr1 {
  margin-bottom: 0.03rem;
  width: 0.04rem;
  height: 0.04rem;
  border-radius: 50%;
  background: #FAFAFA;
  padding: 0;
  border: 0;
}

#mytwo #personbody .line li .cirz .cirr2 {
  margin-bottom: 0.03rem;
  width: 0.04rem;
  height: 0.04rem;
  border-radius: 50%;
  background: #FAFAFA;
  padding: 0;
  border: 0;
}

#mytwo #quit {
  width: 100%;
  height: 0.7rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11.49rem;
}

#mytwo #quit .quitcon {
  width: 5.64rem;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #29DD8B;
  border-radius: 0.7rem;
  text-align: center;
  line-height: 0.7rem;
  color: #FAFAFA;
  font-size: 0.27rem;
  font-weight: bold;
}

#mytwo #quit .quitcon span {
  display: inline-block;
  width: 0.06rem;
  height: 0.06rem;
  background: #FAFAFA;
  border-radius: 50%;
}

#mytwo #quit .quitcon .left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.34rem;
}

#mytwo #quit .quitcon .right {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.34rem;
}
